<div class="footer-container">
  <footer class="page-footer" style="background-color: #78B5CA">
    <div class="container">
      <div class="row">
        <div class="col s12 l4">
          <h5 class="white-text">Mission Statement</h5>
          <p class="crcc-black-text text-lighten-4">“Making Much Of Jesus,” - our clear objective to fight for our community in the name of Jesus Christ.</p>
        </div>
        <div class="col s12 l4">
          <h5 class="crcc-white-text">Links</h5>
          <ul>
            <li><a class="crcc-white-text" href="#">Affiliated Churches</a></li>
            <li><a class="crcc-white-text" href="#">Sponsors</a></li>
            <li><a class="crcc-white-text" href="#">Our Partners</a></li>
            <li><a class="crcc-white-text" href="#"></a></li>
          </ul>
        </div>
        <div class="col s12 l4">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="crcc-white-text" href="#">Facebook TBD</a></li>
            <li><a class="crcc-white-text" href="#">Twitter TBD</a></li>
            <li><a class="crcc-white-text" href="#">Email</a></li>
            <li><a class="crcc-white-text" href="#">Prayers</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">A Special Thanks To:</h5>
          <br>
          <ul>
            <li>
              <a href="http://biblia.com/"><%= image_tag "PoweredByBiblia.png", style: "display: inline-block; vertical-align: middle", alt: "Powered by Biblia" %></a>
              <div style="display: inline-block; vertical-align: middle">
                This site uses the <a href="http://biblia.com/" style="color: #F5F5F5">Biblia</a>
                web services from <a href="http://www.logos.com/" style="color: #F5F5F5">Logos Bible Software</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Website created by Castle Rock Community Church partners & volunteers
      </div>
    </div>
  </footer>
</div>
