<div class="footer-container">
  <footer class="page-footer" style="background-color: #78B5CA">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">Special Thanks To:</h5>
          <br>
          <ul>
            <li>
              <a href="http://biblia.com/"><%= image_tag "PoweredByBiblia.png", style: "display: inline-block; vertical-align: middle", alt: "Powered by Biblia" %></a>
              <div style="display: inline-block; vertical-align: middle">
                This site uses the <a href="http://biblia.com/" style="color: #F5F5F5">Biblia</a>
                web services from <a href="http://www.logos.com/" style="color: #F5F5F5">Logos Bible Software</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Website created by Castle Rock Community Church partners & volunteers
      </div>
    </div>
  </footer>
</div>
