<div class="footer-container">
  <footer class="page-footer" style="background-color: #78B5CA">
    <div class="container">
      <div class="row">
        <div class="col s12">

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Website created by Castle Rock Community Church partners & volunteers
      </div>
    </div>
  </footer>
</div>
