<div class="footer-container">
  <footer class="page-footer" style="background-color: #78B5CA">
    <div class="footer-copyright">
      <div class="container">
        Castle Rock Community Church &nbsp;&nbsp;&nbsp;
        <i class="small material-icons vertical_aligned">phonelink_ring</i>
        <span>720.295.7284</span>
        &nbsp;&nbsp;&nbsp;
        <i class="small material-icons vertical_aligned">email</i>
        <span>info@visitcrcc.org</span>
      </div>
    </div>
  </footer>
</div>
