<li><a class="dropdown-button" href="#" style="color: #353535" data-activates="nav_dropdown_info">About<i class="material-icons right">arrow_drop_down</i></a></li>
<li><a href="#" style="color: #353535">Sermons</a></li>
<li><a href="#" style="color: #353535">Events</a></li>
<li><a class="dropdown-button" href="#" style="color: #353535" data-activates="nav_dropdown_get_involved">Get Involved<i class="material-icons right">arrow_drop_down</i></a></li>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <li><a href="#" style="color: #353535">Log In</a></li>
<% end %>
