<ul id="get_involved" class="dropdown-content">
  <li><a href="#" style="color: #353535">Pray</a></li>
  <li><a href="#" style="color: #353535">Volunteer</a></li>
  <li class="divider"></li>
  <li><a href="#" style="color: #353535">Give</a></li>
</ul>
<div class="navbar-fixed">
  <nav class="crcc-white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo crcc-black-text" style="font-family: 'Sansita One', cursive; color: #353535">CRCC</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" style="color: #353535">Info</a></li>
        <li><a href="#" style="color: #353535">Sermons</a></li>
        <li><a href="#" style="color: #353535">Events</a></li>
        <li><a class="dropdown-button" href="#" style="color: #353535" data-activates="get_involved">Get Involved<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>