<!--<a data-wysihtml5-command="bold">bold</a>-->
<button class="edy-tb-cmd" data-wysihtml5-command="bold" title="Bold" unselectable="on">
  <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.232 10.346c-.181-.535-.437-1.005-.767-1.41-.331-.406-.731-.727-1.201-.962-.472-.235-1.002-.355-1.589-.355-.597 0-1.102.118-1.514.354-.412.236-.732.497-.959.777h-.034v-5.25h-2.668v12.764h2.458v-1.099h.032c.26.428.632.757 1.114.987.484.232.996.348 1.541.348.605 0 1.147-.123 1.625-.37.479-.248.883-.578 1.215-.987.328-.412.582-.888.757-1.429.172-.54.26-1.103.26-1.688-.002-.585-.092-1.144-.27-1.68zm-2.425 2.481c-.08.265-.203.499-.365.7-.162.203-.363.367-.602.49-.24.125-.518.187-.832.187-.303 0-.574-.062-.813-.187s-.442-.287-.61-.49c-.168-.201-.298-.434-.39-.69-.093-.26-.139-.524-.139-.795s.045-.533.137-.792c.093-.26.223-.492.39-.693.169-.201.372-.365.61-.488.24-.125.51-.187.813-.187.314 0 .594.062.832.187.237.123.439.283.604.48.162.196.283.426.365.686.08.258.121.521.121.791.002.272-.039.536-.121.801z" fill="#1B2124"></path>
  </svg>
</button>

<!--<a data-wysihtml5-command="italic">italic</a>-->
<button class="edy-tb-cmd" data-wysihtml5-command="italic" title="Italic" unselectable="on"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(7 3)" fill="#1B2124">
    <path d="M2.926 14l1.765-8.912h-2.448l-1.743 8.912h2.426z" id="Shape"></path>
    <path d="M5.096.863c-.27-.242-.604-.363-1.007-.363-.401 0-.752.134-1.058.402-.306.268-.456.61-.456 1.029 0 .432.141.765.425 1 .284.237.625.353 1.025.353.418 0 .764-.143 1.049-.431.283-.288.426-.622.426-1 0-.418-.135-.749-.404-.99z"></path>
  </g>
</svg>
</button>

<!-- Some wysihtml5 commands require extra parameters -->
<!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>-->
<!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>-->
<!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>-->

<a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="15px">small</a>
<a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="large">large</a>

<!--<a data-wysihtml5-command="justifyCenter">align center</a>-->
<button class="edy-tb-cmd edy-tb-g" data-wysihtml5-command="justifyLeft" title="Align left" unselectable="on"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" stroke="currentColor">
    <path d="M4 5.5h11"></path>
    <path d="M4 7.5h9"></path>
    <path d="M4 9.5h12"></path>
    <path d="M4 11.5h8"></path>
    <path d="M4 13.5h11"></path>
    <path d="M4 15.5h5"></path>
  </g>
</svg>
</button>

<button class="edy-tb-cmd" data-wysihtml5-command="justifyCenter" title="Align center" unselectable="on"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" stroke="currentColor">
    <path d="M5 5.5h11"></path>
    <path d="M6 7.5h9"></path>
    <path d="M4 9.5h13"></path>
    <path d="M7 11.5h7"></path>
    <path d="M5 13.5h11"></path>
    <path d="M8 15.5h5"></path>
  </g>
</svg>
</button>

<button class="edy-tb-cmd" data-wysihtml5-command="justifyRight" title="Align right" unselectable="on"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" stroke="currentColor">
    <path d="M5 5.5h11"></path>
    <path d="M7 7.5h9"></path>
    <path d="M4 9.5h12"></path>
    <path d="M8 11.5h8"></path>
    <path d="M5 13.5h11"></path>
    <path d="M11 15.5h5"></path>
  </g>
</svg>
</button>

<!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
<a data-wysihtml5-command="createLink">insert link</a>
<div data-wysihtml5-dialog="createLink" style="display: none;">
  <label>
    Link:
    <input data-wysihtml5-dialog-field="href" value="http://" class="text">
  </label>
  <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
</div>
