<!--<a data-wysihtml5-command="bold">bold</a>-->
<button class="edy-tb-cmd" data-wysihtml5-command="bold" title="Bold" unselectable="on">
  <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.232 10.346c-.181-.535-.437-1.005-.767-1.41-.331-.406-.731-.727-1.201-.962-.472-.235-1.002-.355-1.589-.355-.597 0-1.102.118-1.514.354-.412.236-.732.497-.959.777h-.034v-5.25h-2.668v12.764h2.458v-1.099h.032c.26.428.632.757 1.114.987.484.232.996.348 1.541.348.605 0 1.147-.123 1.625-.37.479-.248.883-.578 1.215-.987.328-.412.582-.888.757-1.429.172-.54.26-1.103.26-1.688-.002-.585-.092-1.144-.27-1.68zm-2.425 2.481c-.08.265-.203.499-.365.7-.162.203-.363.367-.602.49-.24.125-.518.187-.832.187-.303 0-.574-.062-.813-.187s-.442-.287-.61-.49c-.168-.201-.298-.434-.39-.69-.093-.26-.139-.524-.139-.795s.045-.533.137-.792c.093-.26.223-.492.39-.693.169-.201.372-.365.61-.488.24-.125.51-.187.813-.187.314 0 .594.062.832.187.237.123.439.283.604.48.162.196.283.426.365.686.08.258.121.521.121.791.002.272-.039.536-.121.801z" fill="#1B2124"></path>
  </svg>
</button>

<!--<a data-wysihtml5-command="italic">italic</a>-->
<button class="edy-tb-cmd" data-wysihtml5-command="italic" title="Italic" unselectable="on"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(7 3)" fill="#1B2124">
    <path d="M2.926 14l1.765-8.912h-2.448l-1.743 8.912h2.426z" id="Shape"></path>
    <path d="M5.096.863c-.27-.242-.604-.363-1.007-.363-.401 0-.752.134-1.058.402-.306.268-.456.61-.456 1.029 0 .432.141.765.425 1 .284.237.625.353 1.025.353.418 0 .764-.143 1.049-.431.283-.288.426-.622.426-1 0-.418-.135-.749-.404-.99z"></path>
  </g>
</svg>
</button>

<button class="edy-tb-cmd" data-wysihtml5-command="underline" title="Underline" unselectable="on"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
  <title>
    Slice 1
  </title>
  <g transform="translate(6 5)" fill="#1B2124">
    <path d="M9.141-.5h-2.271v4.791c0 .291-.042.578-.132.862-.09.284-.217.535-.387.752-.17.219-.391.397-.662.536-.27.14-.581.209-.934.209-.365 0-.659-.072-.878-.217-.221-.146-.394-.33-.52-.554-.127-.223-.209-.475-.247-.754-.038-.278-.057-.544-.057-.798v-4.827h-2.268v5.444c0 .447.062.882.189 1.306.126.424.324.799.595 1.125.272.327.618.591 1.041.791.422.199.929.299 1.521.299.68 0 1.27-.168 1.768-.499.498-.333.849-.718 1.051-1.153h.037v1.397h2.154v-8.71z"></path>
    <rect y="11" width="11" height=".908"></rect>
  </g>
</svg>
</button>

<!-- Some wysihtml5 commands require extra parameters -->
<!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>-->
<!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>-->
<!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>-->

<!--<a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="15px">sm</a>-->
<!--<a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="medium">H5</a>-->
<button class="edy-tb-cmd" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="medium" title="H5" unselectable="on">
  <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
    <foreignObject id="header_5" >
      <style>
        #header_5:before {
          content: "H5";
        }
      </style>
    </foreignObject>
  </svg>
</button>

<!--<a data-wysihtml5-command="justifyCenter">align center</a>-->
<button class="edy-tb-cmd edy-tb-g" data-wysihtml5-command="justifyLeft" title="Align left" unselectable="on"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" stroke="currentColor">
    <path d="M4 5.5h11"></path>
    <path d="M4 7.5h9"></path>
    <path d="M4 9.5h12"></path>
    <path d="M4 11.5h8"></path>
    <path d="M4 13.5h11"></path>
    <path d="M4 15.5h5"></path>
  </g>
</svg>
</button>

<button class="edy-tb-cmd" data-wysihtml5-command="justifyCenter" title="Align center" unselectable="on"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" stroke="currentColor">
    <path d="M5 5.5h11"></path>
    <path d="M6 7.5h9"></path>
    <path d="M4 9.5h13"></path>
    <path d="M7 11.5h7"></path>
    <path d="M5 13.5h11"></path>
    <path d="M8 15.5h5"></path>
  </g>
</svg>
</button>

<button class="edy-tb-cmd" data-wysihtml5-command="justifyRight" title="Align right" unselectable="on"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" stroke="currentColor">
    <path d="M5 5.5h11"></path>
    <path d="M7 7.5h9"></path>
    <path d="M4 9.5h12"></path>
    <path d="M8 11.5h8"></path>
    <path d="M5 13.5h11"></path>
    <path d="M11 15.5h5"></path>
  </g>
</svg>
</button>

<!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
<!--<a data-wysihtml5-command="createLink">insert link</a>-->
<button class="edy-tb-cmd edy-tb-g" data-wysihtml5-command="createLink" title="Create link" unselectable="on">
  <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(0 4)" fill="none">
      <g fill="#1C67B2">
        <path d="M7.946 8.197c-.14-.037-.252-.081-.34-.133-.129-.086-.229-.172-.3-.264-.074-.088-.138-.206-.195-.35l-2.685-6.841h-.453l-1.306 3.315c-.488 1.24-.934 2.358-1.34 3.354-.08.194-.16.346-.244.455-.083.11-.201.214-.352.315-.094.057-.215.106-.361.141l-.37.068v.396h3.032v-.397c-.297-.015-.568-.067-.804-.147-.239-.082-.358-.197-.358-.345l.027-.247.103-.391.18-.536c.066-.194.152-.422.258-.681h2.828l.666 1.776.035.129.011.124c0 .082-.097.15-.292.207-.196.054-.441.091-.737.111v.396h3.349v-.396c-.094-.005-.213-.024-.352-.059zm-5.312-2.787l1.203-3.078 1.221 3.078h-2.424z" id="Shape"></path>
        <path d="M13.559 3.795c-.463-.536-1.037-.805-1.727-.805-.27 0-.543.062-.818.184-.279.123-.537.308-.771.553l-.04-.011v-3.631l-.079-.085-2.055.124v.358l.405.047c.169.024.288.061.36.109.091.057.167.146.225.274.059.126.088.252.088.379v5.459c0 .361-.002.736-.011 1.124-.008.388-.021.722-.04.997l.353.077.419-.644c.262.154.541.279.837.375.295.092.6.139.904.139.699 0 1.314-.28 1.844-.844.529-.562.797-1.258.797-2.085.001-.859-.232-1.557-.691-2.094zm-.92 3.941c-.285.439-.654.659-1.119.659-.207 0-.385-.03-.523-.098-.145-.066-.271-.15-.389-.255-.112-.108-.205-.221-.27-.341-.067-.118-.112-.222-.134-.312v-3.208c.158-.174.337-.314.536-.417.199-.102.43-.153.695-.153.291 0 .541.066.75.201.205.134.375.31.504.525.127.212.223.462.285.75.059.286.09.567.09.843-.002.764-.145 1.366-.425 1.806z" id="Shape"></path>
        <path d="M18.982 8.412c.41-.258.74-.605.99-1.045l-.363-.234c-.213.352-.442.616-.689.792-.247.177-.554.264-.92.264-.508 0-.916-.219-1.229-.658-.312-.438-.47-1.003-.47-1.696 0-.439.046-.817.13-1.134.088-.316.202-.568.342-.754.152-.205.312-.347.478-.423.163-.075.338-.114.521-.114.153 0 .297.02.433.059.134.039.233.116.303.231l-.079.387c-.046.177-.066.349-.066.515 0 .138.061.263.186.374.122.111.294.167.518.167.209 0 .358-.071.451-.214.094-.145.137-.309.137-.495 0-.447-.172-.8-.519-1.059-.343-.259-.79-.388-1.336-.388-.397 0-.765.081-1.103.243-.338.162-.617.375-.842.639-.235.276-.414.582-.535.919-.123.338-.186.699-.186 1.086 0 .891.229 1.601.688 2.13.459.528 1.093.792 1.902.792.428-.001.853-.127 1.258-.384z" id="Shape"></path>
        <rect y="10" width="19.768" height=".562"></rect>
      </g>
      <path d="M15.672 10.839l-4.755-4.682v7.803l2.112-1.562 1.059 2.602 1.587-1.04-1.587-2.081 1.584-1.04zm-4.169 1.777v-5.117l3.119 3.071-3.119 2.046z" fill="#1B2124"></path>
    </g>
  </svg>
</button>

<div data-wysihtml5-dialog="createLink" style="display: none;">
  <label>
    Link:
    <input data-wysihtml5-dialog-field="href" value="http://" class="text">
  </label>
  <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
</div>