<div id="modal_faith_scriptures" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>The Scriptures</h4>
    <br>
    <p>
      We believe in the plenary, verbal inspiration of the original writings of the sixty-six books of the Bible,
      the Word of God, and that is the full and complete revelation of God’s will for man, wholly infallible in all
      of its parts, including scientific and historical accuracy, as we well as the supreme and final authority for
      all matters of faith and practice (2 Timothy 3:16; 2 Peter 1:20, 21; Jude 3).
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_origins" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Origins</h4>
    <br>
    <p>
      We believe that God is the direct and active Creator of the universe and of all life in it (Gen. 1-2:9), and that,
      as God, Jesus Christ played a Creator’s role in all that exists (John 1:3; Colossians 1:15-17). We believe that
      created life with distinct boundaries between life forms (Gen. 1:11-12, 20-21, 24-25).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_trinity" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>The Trinity</h4>
    <br>
    <p>
      We believe in one God, eternally existing in three persons – Father, Son and Holy Spirit, co-eternal in being,
      co-identical in nature, co-equal in power and glory, and having the same attributes and perfections
      (Deut. 6:4; 2 Corinthians 13:14; Matt. 28:18, 19).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_god_the_father" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>God The Father</h4>
    <br>
    <p>
      We believe God is Spirit, eternal, from everlasting to everlasting the same, creator of all things, all powerful,
      all knowing, everywhere present, never changing His nature, and always loving. He is active in His creation now,
      controlling and sustaining it. (John 4:24, Luke 24:39, Psalm 90:2, James 1:17, Isaiah 44:24, Revelation 19:6,
      I John 3:20, Psalm 147:5, 139:7-10)
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_god_the_son" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>God The Son</h4>
    <br>
    <p>
      We believe that the Lord Jesus Christ, the eternal Son of God, became man, without ceasing to God, having been
      conceived by the Holy Spirit and born of the virgin Mary, that He might reveal God and redeem sinful men
      (John 1:1-2, 14, 18; Luke 1:35). We believe that the Lord Jesus Christ accomplished our complete redemption
      through His death on the cross as a representative, propitiatory and substitutionary sacrifice, a redemption made
      sure to us by His literal, physical resurrection from the dead (Rom. 3:24-25; 5:8-10; 1 Peter 2:24; Eph. 1:7).
      We believe that the Lord Jesus Christ ascended into heaven and is now exalted at the right hand of God the Father
      where, as our High Priest, He fulfills the ministry of Representative, Intercessor, and Advocate. (Acts 1:9-11,
      Rom 8:34; 1 Tim 2:5; Heb. 1:3; 6:0, 20; 7:24: 9:24; 1 John 2:1-2).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_god_the_spirit" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>God The Holy Spirit</h4>
    <br>
    <p>
      We believe that the Holy Spirit is a divine Person, possessing all the attributes of deity, and that in essence, He is
      equally God (Acts 5:3-4; 2 Cor. 1:14). We believe that the Holy Spirit is the Supernatural Agent in regeneration and
      sanctification, baptizing all believers into the body of Christ, indwelling equally and permanently all believers, and
      sealing them unto the day of redemption (Rom. 8:9; 1 Cor. 6:11; 12:12-14; Eph. 1:13-14). We believe that every
      un-regenerated person, the moment he exercises faith in Christ as Savior, immediately possesses the Holy Spirit
      (Rom. 8:9; 1 Cor. 3:16; 6:19; Gal. 4:6; 1 Thess. 4:8). We believe that the Holy Spirit is the Divine Teacher who guides
      believers into all truth; that He sovereignly bestows one or more spiritual gifts upon each believer; and that it is the
      privilege and duty of all the saved to be filled (controlled) with the Holy Spirit (Jn. 16:13; 1 Cor. 12:4-7; Eph. 5:18).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_sinful_man" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>The Sinfulness Of Man</h4>
    <br>
    <p>
      We believe that man was created in the image and likeness of God but through Adam’s sin the whole race fell, became alienated
      from God, inherited a sin nature, possesses no spark of divine life, and of itself is utterly helpless to remedy its lost
      condition a part from the grace of God (Gen. 1:25-27; Rom. 3:22-23; 5:12; Eph. 2:1-2, 12).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_salvation" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Salvation</h4>
    <br>
    <p>
      We believe that salvation is the gift of God brought to sinful man by grace and received solely by personal faith in the Lord
      Jesus Christ who accomplished complete redemption by His substitutionary death and shedding of His precious blood (Jn. 3:18,
      Gal. 2:16; Eph. 1:7, 2:8-9; Titus 3:5: 1 Pet. 1:18-19).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_sanctification" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Sanctification</h4>
    <br>
    <p>
      We believe that sanctification is a setting-apart unto God (Jn.17:17, 19) and that it involves three dimensions in the
      believer’s life: Positional: Every believer, by his being “in Christ” and partaking of all He is, has a complete standing
      before God (1 Cor. 1:2, 30: 6:11; Heb. 10:10, 14). Progressive: Yet every believer, because he retains a sin nature which
      cannot be changed or eradicated in this life, lives in a present state that is imperfect to the extent that he fails to
      appropriate the power of the Holy Spirit by which to live the Christian life, and therefore, he is in need of a progressive
      sanctification by growing in grace unto spiritual maturity (2 Cor. 3:18; 7:1; Eph. 4:24; Heb. 12:10). Ultimate: Every believer
      will be fully and completely sanctified when he shall see the Lord and shall be like Him (Rom. 8:39; Eph. 5:25-27; 2
      Cor. 3:18; 1 Jn. 3:2).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_assurance" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Assurance of Salvation</h4>
    <br>
    <p>
      We believe that all the redeemed, once saved, are kept by the power of God, indwelt by the Holy Spirit, and interceded for
      by Christ and therefore secure in Christ forever (Jn 6:37-40; 10:27-30; 17:11; Rom. 8:1, 9, 30, 38, 39; 1 Cor. 1:4-8;
      2 Tim. 1:12; 1 Pet. 1:5; Jude 24). We believe that God as holy and righteous Father of all the redeemed, cannot overlook
      the sin of His children, and, when they persistently sin, will chasten and correct them in infinite love (1 Cor. 11:17-32;
      Heb. 12:5-11). We believe that it is the universal privilege of believers to rejoice in the assurance of their salvation,
      which assurance excites within God’s children love, gratitude and obedience (1 Jn. 5:10-13; 3:14; 2 Cor. 5:6-8; Rom. 13:13,
      14; Gal. 5:13; Titus 2:11-15).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_church" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>The Church</h4>
    <br>
    <p>
      We believe that all born again persons make up the universal Church, which is a spiritual organism (Eph. 1:22-23; 1 Cor.
      12:12-14; Rom. 12:5; 16:16-18; Acts 2:42-47). We believe the establishment and the continuance of local churches is
      clearly taught and defined in the New Testament (Acts 14:27; 20:17; 28-32; 1 Timothy 3:1-13; Titus 1:5-11).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_marriage" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>The Sanctity of Marriage</h4>
    <br>
    <p>
      As God ordained, marriage is defined by the Holy Scripture and Holy Bible as being between one man and one woman, without
      exception. We as Christ’s church cannot add to nor take away from this God ordained and devoted institution, regardless
      of governmental influence (Genesis 1).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<script type="text/javascript">

</script>