<!-- Modal Structure -->
<div id="modal_learn_more" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>OUR MISSION</h4>
      To intentionally invest in the lives of those in our community, pursuing them with the
      love and life of the Gospel, thereby teaching them and modeling to them, what it means to be a follower of Jesus.
      (Matthew 28:19, Mark 12:29-­‐31, Acts 1:8).
    <br>
    <h4>OUR VISION</h4>
      To effectually communicate the Gospel of Jesus Christ in such a way that strengthens the
      foundational principle of being adopted into God’s family. We are deeply moved by the importance of
      prioritizing the traditional family unit as God created it, as well as integrating a biblical understanding
      of how all the varying roles and structures that comprise modern families will only be fruitful if submitted
      to Godly design alone.
    <br>
    <h4>OUR CORE VALUES </h4>
      We value over all other sources of information and thought, the authority of the Word of God.
      We desire to have God speak into our lives through solid relevant Bible teaching and authentic Biblical living
      that results in significant personal life change (Joshua 1:8; Psalm 1:2, 3; Colossians 1:28-­‐29).
  </div>

  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect btn-flat ">Close</a>
    <a href="#" class="modal-action modal-close waves-effect btn-flat ">Get Involved</a>
  </div>
</div>