<a href="https://www.facebook.com/VisitCRCC" target="_blank"><%= image_tag "facebook.svg", size: "50x50", class: "social social_square" %></a>
<a href="https://twitter.com/visitcrcc" target="_blank"><%= image_tag "twitter.svg", size: "50x50", class: "social social_circle" %></a>
<a href="https://www.instagram.com/visitcrcc/" target="_blank"><%= image_tag "instagram.svg", size: "50x50", class: "social social_square" %></a>