<div id="modal_faith_scriptures" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Declaration of Faith</h4>
    <div class='progress'></div>
    <br>
    <p>
      “If you openly declare that Jesus is Lord and believe in your heart that God raised him from the dead,
      you will be saved.  For it is by believing in your heart that you are made right with God, and it is by
      openly declaring your faith that you are saved.” – Romans 10:9-10 NLT
      <br><br>
      We believe in the only true God.  We believe that our sins separate us from God and that we need to be
      forgiven of our sins and saved from an eternal separation from God.  We believe that Jesus Christ is the only
      One that can save us and restore us to God.  We believe in Jesus Christ's birth, life, death, resurrection,
      and promised return.  By placing our faith in Jesus Christ, we receive God's grace, mercy, forgiveness, and
      the promise of eternal life with God.  We believe this is the Good News that is central to the message of
      the Bible (John 17:3; Romans 5:10-12 & 18-19; John 3:16-17; Ephesians 2:8-9; Romans 10:9-10).
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_origins" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>The Bible</h4>
    <div class='progress'></div>
    <br>
    <p>
      “All Scripture is God-breathed [given by divine inspiration] and is profitable
      for instruction, for conviction [of sin], for correction [of error and restoration
      to obedience], for training in righteousness [learning to live in conformity to
      God’s will, both publicly and privately—behaving honorably with personal integrity
      and moral courage]; so that the man of God may be complete and proficient,
      outfitted and thoroughly equipped for every good work.” – 2 Timothy 4:16-17 AMP
      <br><br>
      Scripture, what we call "The Bible," is uniquely inspired by God. The Bible reveals
      God Himself, documents His activity and interaction with certain 	people, demonstrates
      His plan to save and restore His fallen creation, and 	serves as His standard of
      communication with us and guide for right beliefs, 	practices, and lifestyles
      (2 Tim 3:14-17; Heb 1:1-3; 2 Peter 1:19-21).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_trinity" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>The Triune God</h4>
    <div class='progress'></div>
    <br>
    <p>
      “Listen, Israel! The Lord our God is the only true God!”– Deuteronomy 6:4 CEV
      <br><br>
      “Therefore go and make disciples of all nations, baptizing them in the name
      of the Father and of the Son and of the Holy Spirit, and teaching them to obey
      everything I have commanded you. And surely I am with you always, to the very end
      of the age.” – Matthew 28:19-20 NIV
      <br><br>
      The Father, The Son (Jesus Christ), and The Holy Spirit are individual 	members
      of the Trinity, a mysterious unity of three persons in One God who 	is infinite,
      all-powerful, all-knowing, ever-present, and perfect in love (Deut 	6:4;
      Matt 28:19-20; John 1:1, Acts 5:3-4; Phil 2:5-6; Matt 1:23; Matt 3:16-17;
      1 Timothy 1:17; Romans 11:33-36; 1 John 4:8, 5:6-8).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_god_the_father" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Our Father</h4>
    <div class='progress'></div>
    <br>
    <p>
      “Pray then like this: ‘Our Father in heaven, hallowed be your name. Your kingdom
      come, your will be done, on earth as it is in heaven. Give us this day our daily
      bread, and forgive us our debts, as we also have forgiven our debtors. And lead
      us not into temptation, but deliver us from evil.’” – Matthew 6:9-13 ESV
      <br><br>
      “But a time is coming—and now is here—when the true worshipers will worship the
      Father in spirit and truth, for the Father seeks such people to be his worshipers.
      God is spirit, and the people who worship him must worship in spirit and truth.”
      – John 4:23-24 NET
      <br><br>
      God The Father goes by many names and titles in Scripture but desires that we call
      Him "Father." He sustains, provides, protects, and forgives (John 4:23-24; Eph 2:4-5;
      Matt 6:9-13; James 1:17; Rev 4:8-11; 5:13).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_god_the_son" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Jesus Christ</h4>
    <div class='progress'></div>
    <br>
    <p>
      “In the beginning was the Word, and the Word was with God, and the Word was God.
      He was in the beginning with God. All things were made through Him, and without
      Him nothing was made that was made. In Him was life, and the life was the light of men.
      And the light shines in the darkness, and the darkness did not comprehend it.” – John 1:1-5 NKJV
      <br><br>
      “The Word became flesh and blood, and moved into the neighborhood.  We saw the glory with
      our own eyes, the one-of-a-kind glory, like Father, like Son, Generous inside and out,
      true from start to finish.” – John 1:14 MSG
      <br><br>
      Jesus Christ is the Son of God, "God With Us," God in human form, and the source of
      grace and eternal life through His virgin birth, His sinless life, His 	death on the Cross,
      and His resurrection (Isaiah 7:14; John 1:1-18; Matt 1:23; 	1 Cor 15:3-8; Col 1:15-20).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_god_the_spirit" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>The Holy Spirit</h4>
    <div class='progress'></div>
    <br>
    <p>
      “And I will ask the Father, and he will give you another Advocate, who will never leave you.
      He is the Holy Spirit, who leads into all truth. The world cannot receive him, because it isn’t
      looking for him and doesn’t recognize him. But you know him, because he lives with you now and
      later will be in you.” – John 14:16-17 NLT
      <br><br>
      “But I tell you that I am going to do what is best for you. That is why I am going away. The Holy
      Spirit cannot come to help you until I leave. But after I am gone, I will send the Spirit to you.
      The Spirit will come and show the people of this world the truth about sin and God’s justice and
      the judgment.” - John 16:7-8 CEV
      <br><br>
      The Holy Spirit of God lives in every true follower of Jesus Christ, guiding and 	empowering them
      to live and act like Jesus Christ, and providing special gifts to those who believe. The purpose
      of these gifts is to strengthen the Church and to reveal to others the character of our God.
      The Holy Spirit also convicts the world of sin, righteousness, and judgment and speaks only what
      comes from The Father and from The Son, Jesus Christ (John 14:16-17; John 16:7-	14; 1 Cor 12:1-11;
      Gal 5:16-26; 1 John 3:23-24; 1 John 4:13-16).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_sinful_man" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Sin</h4>
    <div class='progress'></div>
    <br>
    <p>
      “For everyone has sinned; we all fall short of God’s glorious standard.”
      – Romans 3:23 NLT
      <br><br>
      “As it is written: ‘None is righteous, no, not one.’” – Romans 3:10 ESV
      <br><br>
      “The Lord is not slow in keeping his promise, as some understand slowness.
      Instead he is patient with you, not wanting anyone to perish, but everyone
      to come to repentance.” - 2 Peter 3:9 NIV
      <br><br>
      Sin separates us from God.  The punishment for sin is eternal separation
      from God.  But because of God’s promise, there is hope (Matthew 25:46;
      Romans 3:10 & 23; 2 Peter 3:9).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_salvation" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Grace and Salvation</h4>
    <div class='progress'></div>
    <br>
    <p>
      “For by grace you have been saved through faith. And this is not your own doing;
      it is the gift of God, not a result of works, so that no one may boast.”
      – Ephesians 2:8-9 ESV

      “My sheep recognize my voice. I know them, and they follow me. I give them
      real and eternal life. They are protected from the Destroyer for good.
      No one can steal them from out of my hand. The Father who put them under
      my care is so much greater than the Destroyer and Thief. No one could ever
      get them away from him.” – John 10:27-29 MSG

      We can experience the grace and forgiveness of God and the promise of
      eternal life by committing ourselves to Jesus Christ by faith. We cannot
      earn God's grace; we only receive it as a gift because of Jesus' life,
      death, and 	resurrection. Because this gift is given by	God to us on the
      perfection of Jesus Christ alone, and not as a result of our own efforts,
      nothing can separate us from God's Love (Romans 5:10-12, 18-19; 6:23;
      Acts 16:31; Eph 2:8-9; 1 Cor. 15:3-8; Romans 8:38-39; John 10:27-30).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_sanctification" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Following Jesus</h4>
    <div class='progress'></div>
    <br>
    <p>
      “And he said to all, “If anyone would come after me, let him deny himself and take
      up his cross daily and follow me. For whoever would save his life will lose it, but
      whoever loses his life for my sake will save it.” – Luke 9:23-24 ESV
      <br><br>
      “But be sure you live out the message and do not merely listen to it and so deceive
      yourselves.  For if someone merely listens to the message and does not live it out,
      he is like someone who gazes at his own face in a mirror.  For he gazes at himself and
      then goes out and immediately forgets what sort of person he was.  But the one who peers
      into the perfect law of liberty and fixes his attention there, and does not become a
      forgetful listener but one who lives it out—he will be blessed in what he does.”
      - James 1:22-25 NET
      <br><br>
      Following Jesus is an all-day, every-day lifestyle.  While we still commit sins, Jesus
      offers forgiveness and restoration when we turn back to Him.  Also, 	being a follower
      of Jesus means more than simply believing what Jesus 	said.  Being a follower of Jesus
      means doing what Jesus did (Luke 9:23-26; 	Romans 7:14-25; 1 John 1:9; James 1:22-25;
      John 14:12-14).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_assurance" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>The Local Church</h4>
    <div class='progress'></div>
    <br>
    <p>
      “Let us hold tightly without wavering to the hope we affirm, for God can be
      trusted to keep his promise. Let us think of ways to motivate one another
      to acts of love and good works. And let us not neglect our meeting together,
      as some people do, but encourage one another, especially now that the day of
      his return is drawing near.” – Hebrews 10:23-25 NLT
      <br><br>
      When connected to a local church gathering, followers of Jesus worship,
      train, and serve better.  This is true in part because we need it, in part
      because God does big things when we're together, but ultimately because He
      wants us to be connected (Hebrews 10:23-25; Acts 2:42-47; Acts 4:32-37;
      Revelation 2 and 3).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_church" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Baptism and The Lord’s Supper</h4>
    <div class='progress'></div>
    <br>
    <p>
      “Jesus left Galilee and went to the Jordan River to be baptized by John. But John kept objecting
      and said, “I ought to be baptized by you. Why have you come to me?”  Jesus answered, “For now
      this is how it should be, because we must do all that God wants us to do.” Then John agreed.
      So Jesus was baptized. And as soon as he came out of the water, the sky opened, and he saw the
      Spirit of God coming down on him like a dove. Then a voice from heaven said, “This is my own
      dear Son, and I am pleased with him.” – Matthew 3:13-17 CEV
      <br><br>
      “For I received from the Lord what I also delivered to you, that the Lord Jesus on the night when
      he was betrayed took bread, and when he had given thanks, he broke it, and said, “This is my
      body which is for you. Do this in remembrance of me.” In the same way also he took the cup, after
      supper, saying, “This cup is the new covenant in my blood. Do this, as often as you drink it, in
      remembrance of me.” For as often as you eat this bread and drink the cup, you proclaim the Lord's
      death until he comes.” - 1 Corinthians 11:23-26 ESV
      <br><br>
      Jesus instituted a public commitment ceremony we call "Baptism" and a memorial ceremony we call
      "The Lord's Supper" or “Communion.”  Being immersed in water is a physical representation of the
      decision to follow Jesus.  The Lord’s Supper is done to remember Jesus’ sacrifice on the Cross,
      as well as to look forward to His return.  We celebrate these regularly as visible expressions of
      our devotion to Jesus. (Matt 3:13-17; Matt 28:19-20; Matt 26:26-28; Luke 22:17-20; 1 Cor 11:23-26).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_marriage" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Spiritual Warfare</h4>
    <div class='progress'></div>
    <br>
    <p>
      “Put on the whole armor of God, that you may be able to stand against the schemes of
      the devil. For we do not wrestle against flesh and blood, but against the rulers, against
      the authorities, against the cosmic powers over this present darkness, against the spiritual
      forces of evil in the heavenly places. Therefore take up the whole armor of God, that you
      may be able to withstand in the evil day, and having done all, to stand firm.” – Ephesians 6:11-13 ESV
      <br><br>
      “The weapons of our warfare are not physical [weapons of flesh and blood]. Our weapons are
      divinely powerful for the destruction of fortresses. We are destroying sophisticated arguments
      and every exalted and proud thing that sets itself up against the [true] knowledge of God,
      and we are taking every thought and purpose captive to the obedience of Christ.”  – 2 Corinthians 10:4-5 AMP
      <br><br>
      There is a spiritual war between God and the devil. We don’t know every 	detail. However, we
      understand that we are an important part of this fight, 	that the devil and his evil forces
      are our true enemies, and that Jesus dealt 	them a fatal defeat with His death and resurrection.
      Ultimately, we celebrate 	these promises: that God has equipped us for battle against these dark
      forces; that He will win this war once and for all; that good will triumph over evil; and that
      as we stand firm in the confidence of the Gospel, the Holy Spirit will 	accomplish in our midst,
      and within us, the feats necessary to draw people to 	Jesus Christ. (Gen 3:15; Mark 16:20;
      Luke 12:31-32; John 14:11-14; John 	16:11; Rom 8:28-38; Rom 14:17; 1 Cor 4:20; 2 Cor 10:4-5;
      Gal 5:16-24; Eph 6:11-18; Heb 2:14-15; 1 John 4:7-12; Jude 9; Jude 20-25; Rev 12:7-12, 20:10, 21:1-8)
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_life" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Christ’s Return</h4>
    <div class='progress'></div>
    <br>
    <p>
      “Look, I am coming soon! My reward is with me, and I will give to each person
      according to what they have done.” – Rev 22:12 NIV
      <br><br>
      Jesus is coming back someday and we anticipate His Return with 	excitement!
      This return ushers in a new existence for all humanity, living 	and dead.
      God will exact judgment, Sin and Death will be destroyed, and followers of
      Jesus Christ will spend eternity together with God while those 	who reject
      Jesus Christ will remain separated from God (Acts 1:10-11; Rev. 20:11-15;
      Rev. 21:1-4; Rev 22:12).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_temple" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Engaging Culture</h4>
    <div class='progress'></div>
    <br>
    <p>
      “Be careful to live properly among your unbelieving neighbors. Then even if they
      accuse you of doing wrong, they will see your honorable behavior, and they will
      give honor to God when he judges the world.” – 1 Peter 2:12 NLT
      <br><br>
      “In the Messiah, in Christ, God leads us from place to place in one perpetual
      victory parade. Through us, he brings knowledge of Christ. Everywhere we go,
      people breathe in the exquisite fragrance. Because of Christ, we give off a sweet
      scent rising to God, which is recognized by those on the way of salvation—an aroma
      redolent with life. But those on the way to destruction treat us more like the
      stench from a rotting corpse.” – 2 Corinthians 2:14-16 MSG
      <br><br>
      Throughout history, local churches have taken specific stands on issues to act
      as “salt and light,” providing prophetic voices to their respective cultures and
      governing authorities.  Accordingly, we recognize our responsibility to faithfully
      continue that responsibility to our cultures and governing authorities. We
      further declare that no government, group, nor individual may compel us to violate
      our convictions nor restrict our public expression and practice of these convictions
      for any reason, legislative or otherwise (Daniel 3:16-18; Matthew 5:13-16; 10:16-20;
      Mark 12:17; Acts 4:13-20; Romans 1:32; 2 Corinthians 2:14-16; 1 Peter 2:12, 3:15-16)
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_ordinances" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Protecting Children</h4>
    <div class='progress'></div>
    <br>
    <p>
      Your eyes saw me when I was inside the womb. All the days ordained for me
      were recorded in your scroll before one of them came into existence.” – Psalm 139:16 NET
      <br><br>
      "Beware that you don't look down on any of these little ones. For I tell you that in
      heaven their angels are always in the presence of my heavenly Father.” – Matt 18:10 NLT
      <br><br>
      The Bible teaches that all children, born and unborn, are special to God.  As a result,
      we strive to protect the lives and well-being of all children, and especially the right
      to life of the unborn. Abortion and child abuse are incompatible with following Jesus
      (Psalm 127:3-5; 139:13-18; Matthew 18:1-7, 10; Mark 10:13-16; Eph 6:4).
      <br><br>
      Our Thoughts:
      According to God’s Word, we oppose abortion. The Bible teaches that God created human beings unique,
      with a special capacity to display God’s qualities. Additionally, the Bible teaches that God knows
      each individual human being prior to birth and that children are particularly special to God. The
      Bible communicates special concern for the defenseless; children are among the most defenseless
      of all humanity, and unborn children are that much more vulnerable. Therefore, abortion is generally
      incompatible with following Jesus, as is any other form of child abuse.
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_satan" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Preserving Marriage and Celibacy</h4>
    <div class='progress'></div>
    <br>
    <p>
      “Jesus answered, ‘Have you not read that he who created them from the beginning
      made them male and female, and said, ‘Therefore a man shall leave his father and
      his mother and hold fast to his wife, and the two shall become one flesh’?  So they
      are no longer two but one flesh. What therefore God has joined together, let not
      man separate.’” – Matthew 19:4-6 ESV
      <br><br>
      “Jesus’ disciples then said to him, ‘If that is how it is, it is better not to marry!’
      ‘Not everyone can accept this statement,’ Jesus said. ‘Only those whom God helps.
      Some are born without the ability to marry, and some are disabled by men, and some
      refuse to marry for the sake of the Kingdom of Heaven. Let anyone who can, accept my
      statement.’ – Matthew 19:10-12 TLB
      <br><br>
      The Bible teaches that marriage is an exclusive, sacred union between one man and one
      woman. The Bible also teaches that celibacy is the honored status and God-given
      responsibility of all individuals who do not marry according to God’s design. Any
      other sexual activity or sexual union is incompatible with following Jesus (Genesis 1:27-28;
      2:18-24; Matt 19:4-12; Romans 1:24-27; 1 Cor 6:13-20; 7:1-9; Eph 5:3, 31-33; Hebrews 13:4).
      <br><br>
      Our Thoughts:
      According to God’s Word, we define marriage as an exclusively sacred union 	between one
      man and one woman. The Bible teaches that sexual immorality is a serious sin and that
      the covenant relationship of marriage is the only realm in which sexual activity is
      acceptable for anyone. The Bible also teaches that this union is special because it is
      the one human relationship 	that serves as the physical expression of Jesus Christ’s love
      for His Bride, The Church. Unmarried followers of Jesus are blessed to embrace the beautiful,
      exclusive relationship with God known as celibacy unless, or until, God provides a suitable
      helpmate of the opposite sex. Therefore, any other sexual activity or sexual union, state-recognized
      or otherwise, is incompatible with following Jesus.
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_eternal_state" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Sober Living</h4>
    <div class='progress'></div>
    <br>
    <p>
      “Don’t be drunk with wine, because that will ruin your life. Instead,
      be filled with the Holy Spirit.” – Eph 5:18 NLT
      <br><br>
      “There wasn’t a sign of a change of heart. They plunged right on in their
      murderous, occult [drug-using], promiscuous, and thieving ways.” – Rev 9:21 MSG
      <br><br>
      The Bible teaches that getting drunk and using drugs are incompatible with
      following Jesus. In particular, the Bible associates these activities with a
      number of other destructive, immoral, and unquestionably evil deeds that
      are universally prohibited. In fact, a common command in the New Testament
      is to remain sober. (Gal 5:19-21; Eph 5:15-20; 1 Thes 5:5-8; 1 	Peter 5:8-9;
      Rev 9:20-21).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="modal_faith_second_coming" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>The Humility Of Believers</h4>
    <div class='progress'></div>
    <br>
    <p>
      “For by the grace given to me I say to everyone among you not to think of himself more
      highly than he ought to think, but to think with sober judgment, each according to
      the measure of faith that God has assigned.” – Romans 12:3 ESV

      We are committed to our convictions, beliefs, and practices, yet humble about ourselves
      and our finite understanding of such things. We recognize that only God has the complete
      picture and perfect understanding of anything.  Ultimately, we put our full trust in God
      alone and rely exclusively on God's mercy and grace to make up for where we fall short
      in ourselves, and in our understanding, beliefs, convictions, and practices
      (Isaiah 55:6-11; Romans 12:3; Romans 11:33-36; Hebrews 11:1,6; Ephesians 2:8-9).
    </p><br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>