<%= render partial: "modals/all" %>

<div class="section declaration_of_faith">
  <div class="container">
    <h1 class="header center crcc-black-text">Declaration of Faith</h1>
  </div>
  <br>
  <div class="container clearbox">
    <div class="row">
        <div class="col s12"><div class="content">
          “If you openly declare that Jesus is Lord and believe in your heart that God raised
          him from the dead, you will be saved.  For it is by believing in your heart that
          you are made right with God, and it is by openly declaring your faith that you are
          saved.” – Romans 10:9-10 NLT
          <br><br>
          We believe in the only true God.  We believe that our sins separate us from God and
          that we need to be forgiven of our sins and saved from an eternal separation from God.
          We believe that Jesus Christ is the only One that can save us and restore us to God.
          We believe in Jesus Christ's birth, life, death, resurrection, and promised return.
          By placing our faith in Jesus Christ, we receive God's grace, mercy, forgiveness, and
          the promise of eternal life with God.  We believe this is the Good News that is central
          to the message of the Bible (John 17:3; Romans 5:10-12 & 18-19; John 3:16-17;
          Ephesians 2:8-9; Romans 10:9-10).
        </div></div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <a href="#modal_faith_origins" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Bible</div></div></div>
      </a>
      <a href="#modal_faith_trinity" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Triune God</div></div></div>
      </a>
      <a href="#modal_faith_god_the_father" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Our Father</div></div></div>
      </a>
      <a href="#modal_faith_god_the_son" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Jesus Christ</div></div></div>
      </a>
    </div>
    <div class="row">
      <a href="#modal_faith_god_the_spirit" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Holy Spirit</div></div></div>
      </a>
      <a href="#modal_faith_sinful_man" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Sin</div></div></div>
      </a>
      <a href="#modal_faith_salvation" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Grace & Salvation</div></div></div>
      </a>
      <a href="#modal_faith_sanctification" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Following Jesus</div></div></div>
      </a>
    </div>
    <div class="row">
      <a href="#modal_faith_assurance" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Local Church</div></div></div>
      </a>
      <a href="#modal_faith_church" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Baptism & The Lord’s Supper</div></div></div>
      </a>
      <a href="#modal_faith_marriage" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Spiritual Warfare</div></div></div>
      </a>
      <a href="#modal_faith_life" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Christ’s Return</div></div></div>
      </a>
    </div>
    <div class="row">
      <a href="#modal_faith_temple" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Engaging Culture</div></div></div>
      </a>
      <a href="#modal_faith_ordinances" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Protecting Children</div></div></div>
      </a>
      <a href="#modal_faith_satan" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Marriage & Celibacy</div></div></div>
      </a>
      <a href="#modal_faith_eternal_state" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Sober Living</div></div></div>
      </a>
    </div>
    <div class="row">
      <a href="#modal_faith_second_coming" class="statement_btn modal-trigger">
        <div class="col s6 m6 offset-m3 l4 offset-l4"><div class="white_box hoverable"><div class="content">The Humility Of Believers</div></div></div>
      </a>
    </div>
  </div>
</div>
