<%= render partial: "modals" %>

<div class="container">
  <div class="section">
    <h3>Events</h3>
    <br>

    <div class="row">
      <div class="col s6 m3">
        <div class="card panel" style="background-color: #3ada55">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag("event_sm1.jpg", alt: "red sermon") %>
          </div>
        </div>
      </div>
      <div class="col s6 m7">
        text lots and lots of text, text lots and lots of text, text lots and lots of text, text lots and lots of text
        text lots and lots of text, text lots and lots of text, text lots and lots of text, text lots and lots of text
        text lots and lots of text, text lots and lots of text, text lots and lots of text, text lots and lots of text
        text lots and lots of text, text lots and lots of text, text lots and lots of text, text lots and lots of text
        text lots and lots of text, text lots and lots of text, text lots and lots of text, text lots and lots of text
        text lots and lots of text, text lots and lots of text, text lots and lots of text, text lots and lots of text
        text lots and lots of text, text lots and lots of text, text lots and lots of text, text lots and lots of text
      </div>
    </div>

    <div class="row">
      <div class="col s6 m3">
        <div class="card panel" style="background-color: #3ada55">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag("event_sm2.jpg", alt: "red sermon") %>
          </div>
        </div>
      </div>
      <div class="col s6 m7">
        a small amount of text
      </div>
    </div>

    <div class="row">
      <div class="col s6 m3">
        <div class="card panel" style="background-color: #3ada55">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag("event_sm3.jpg", alt: "red sermon") %>
          </div>
        </div>
      </div>
      <div class="col s6 m7">
        medium amounts of text, i'd say medium amounts of text, i'd say medium amounts of text, i'd say medium amounts of text,
        medium amounts of text, i'd say medium amounts of text, i'd say medium amounts of text, i'd say medium amounts of text,
        medium amounts of text, i'd say medium amounts of text, i'd say medium amounts of text, i'd say medium amounts of text,
      </div>
    </div>

  </div>
</div>
