<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center crcc-black-text">Castle Rock Community Church</h1>
      <div class="row center">
        <h5 class="header col s12 light crcc-brown-text"></h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light blue">Call to Action</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax">
    <%= image_tag("sunrise.png", alt: "Unsplashed background img 1") %>
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="medium material-icons brown-text">queue_play_next</i></h3>
        <h4>Hero Slide Show</h4>
        <p class="center-align light">Slide show content goes here</p>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="large material-icons">stars</i></h2>
          <h5 class="center">New Here?</h5>

          <p class="light">We encourage you to come as you are, nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="large material-icons">event</i></h2>
          <h5 class="center">Upcoming Events</h5>

          <p class="light">Stay tuned for our inaugural scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="large material-icons">group</i></h2>
          <h5 class="center">Get involved</h5>

          <p class="light">Opportunities to demonstrate the heart of Christ are ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="large material-icons">card_giftcard</i></h2>
          <h5 class="center">Give</h5>

          <p class="light">There are lots of ways to give, consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" style="background-color: rgba(245,245,245,.4)">Focusing on building solid relationship amongst the men and women in the community.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("background2.jpg", alt: "Unsplashed background img 2") %></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="medium material-icons brown-text">chat</i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">We'd love to hear from you! But because we currently don't have much else to say, please enjoy this filler text; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" style="background-color: rgba(245,245,245,.4)">Hands on application of the biblical command to love one another.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("background3.jpg", alt: "Unsplashed background img 3") %></div>
</div>

<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Mission Statement</h5>
        <p class="grey-text text-lighten-4">“Making Much Of Jesus,” - our clear objective to fight for our community in the name of Jesus Christ.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Generic <a class="brown-text text-lighten-3" href="#">footnotes</a>
    </div>
  </div>
</footer>