<div class="view-port">
  <div class="home">
    <section>
      <div class="hero center">
        <br><br>
      </div>
    </section>

    <section>
      <div class="mission_statement">
        <div class="title center">Who We Are</div>
        <div>
          Fill In
        </div>
      </div>
    </section>

    <section class=".news_feed_section">
      Add Slider
    </section>

    <section>
      <div id="section_services" class="services">
        <div class="title center">Services</div>
        <div class="thumbnail">
          <div class="heading">
            <%= image_tag("deal.svg", size: "60x60", alt: "Compliance") %>
            <div class="heading_title">Tax Oversight</div>
          </div>
          Fill In
        </div>
        <div class="thumbnail">
          <div class="heading">
            <%= image_tag("cloud.svg", size: "60x60", alt: "Integration") %>
            <div class="heading_title">System Integration</div>
          </div>
          Fill In
        </div>
        <div class="thumbnail">
          <div class="heading">
            <%= image_tag("chess.svg", size: "60x60", alt: "Strategy") %>
            <div class="heading_title">Financial Strategy</div>
          </div>
          Fill In
        </div>
      </div>
    </section>


    <section>
      <div class="footer">
        <div class="social">
          <!--<div class="linked_in"><%#= image_tag("Linkedin.svg", alt: "Linked In") %></div>-->
        </div>
      </div>
    </section>

  </div>
</div>