<%= render partial: "modals/all" %>

<div class="container">
  <div class="section">
    <h5>Welcome to Castle Rock Community Church!</h5>
    <br>

    <p>
      We hope you get to experience the intentional vision of our church to
      make much of Jesus in all things. From our Sunday morning service, to
      our weekly small groups and ministry specific gatherings, you can expect
      to find a community of followers of Jesus who are intentional about their faith.
    </p>
    <br>

    <b>Sunday Worship Service:</b>
    <p>
      Sunday services focus on three things: hearing from God through transparent
      worship and biblical teaching; hearing what God has done and is doing among
      those who attend CRCC and other related ministries (testimonies); and responding
      to God personally through prayer, communion, and action.
    </p>
    <br>

    <p>
      Services are considered contemporary – in music, environment, and teaching
      style. Services run from 10:00am to 11:30am. Children’s programming is provided
      for Birth through 5th grade.
    </p>
    <br>

    <b>Small Groups:</b>
    <p>
      Small groups meet weekly in and around the Castle Rock area. These groups are
      where real life happens at CRCC. Some groups are demographic specific; others
      are topic specific. Childcare is provided for many of these groups. We encourage
      you to visit one this week.
    </p>
    <br>

  </div>
</div>
