<%= render partial: "modals" %>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m3">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">stars</i></h2>
          <h5 class="center">New Here?</h5>

          <p class="light">We encourage you to come as you are, nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">event</i></h2>
          <h5 class="center">Upcoming Events</h5>

          <p class="light">Stay tuned for our inaugural scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">group</i></h2>
          <h5 class="center">Get involved</h5>

          <p class="light">Opportunities to demonstrate the heart of Christ are ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block hoverable">
          <h2 class="center brown-text"><i class="large material-icons">card_giftcard</i></h2>
          <h5 class="center">Give</h5>

          <p class="light">There are lots of ways to give, consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id</p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer" style="background-color: #78B5CA">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Mission Statement</h5>
        <p class="crcc-black-text text-lighten-4">“Making Much Of Jesus,” - our clear objective to fight for our community in the name of Jesus Christ.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="crcc-white-text">Links</h5>
        <ul>
          <li><a class="crcc-white-text" href="#">Affiliated Churches</a></li>
          <li><a class="crcc-white-text" href="#">Sponsors</a></li>
          <li><a class="crcc-white-text" href="#">Our Partners</a></li>
          <li><a class="crcc-white-text" href="#"></a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="crcc-white-text" href="#">Facebook TBD</a></li>
          <li><a class="crcc-white-text" href="#">Twitter TBD</a></li>
          <li><a class="crcc-white-text" href="#">Email</a></li>
          <li><a class="crcc-white-text" href="#">Prayers</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Website created by Castle Rock Community Church partners & volunteers
    </div>
  </div>
</footer>

<script type="text/javascript">
  $(document).ready(function(){
    $('.crcc_main_slider').slick({
      autoplay: true,
      autoplaySpeed: 2500,
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      fade: true,
      cssEase: 'linear',
      pauseOnHover: true
    });
  });
</script>