<%= render partial: "modals" %>

<div class="container">
  <div class="section">
    <h3>Sermons</h3>
    <br>

    <div class="row">
      <div class="col s12 m6">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag("red_sermon.png", alt: "red sermon") %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
            <p>Here is some more information about this sermon that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag("green_sermon.png", alt: "green sermon") %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
            <p>Here is some more information about this sermon that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag("green_yellow_sermon.jpg", alt: "green_yellow sermon") %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
            <p>Here is some more information about this sermon that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
