<%= render partial: "modals" %>

<div class="container">
  <div class="row">
    <a href="#modal_faith_scriptures" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Scriptures</div></div></div>
    </a>
    <a href="#modal_faith_origins" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Origins</div></div></div>
    </a>
    <a href="#modal_faith_trinity" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Trinity</div></div></div>
    </a>
    <a href="#modal_faith_god_the_father" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">God The Father</div></div></div>
    </a>
  </div>
  <div class="row">
    <a href="#modal_faith_god_the_son" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">God The Son</div></div></div>
    </a>
    <a href="#modal_faith_god_the_spirit" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">God The Holy Spirit</div></div></div>
    </a>
    <a href="#modal_faith_sinful_man" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Sinful Man</div></div></div>
    </a>
    <a href="#modal_faith_salvation" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Salvation</div></div></div>
    </a>
  </div>
  <div class="row">
    <a href="#modal_faith_sanctification" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Sanctification</div></div></div>
    </a>
    <a href="#modal_faith_assurance" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Assurance</div></div></div>
    </a>
    <a href="#modal_faith_church" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Church</div></div></div>
    </a>
    <a href="#modal_faith_marriage" class="statement_btn modal-trigger">
      <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Sanctity of Marriage</div></div></div>
    </a>
  </div>
</div>
