<%= render partial: "modals" %>

<div class="section statement_of_faith">
  <div class="container">
    <h1 class="header center crcc-black-text">Statement of Faith</h1>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <a href="#modal_faith_scriptures" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Declaration of Faith</div></div></div>
      </a>
      <a href="#modal_faith_origins" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Bible</div></div></div>
      </a>
      <a href="#modal_faith_trinity" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Triune God</div></div></div>
      </a>
      <a href="#modal_faith_god_the_father" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Our Father</div></div></div>
      </a>
    </div>
    <div class="row">
      <a href="#modal_faith_god_the_son" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Jesus Christ</div></div></div>
      </a>
      <a href="#modal_faith_god_the_spirit" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Holy Spirit</div></div></div>
      </a>
      <a href="#modal_faith_sinful_man" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Sin</div></div></div>
      </a>
      <a href="#modal_faith_salvation" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Grace & Salvation</div></div></div>
      </a>
    </div>
    <div class="row">
      <a href="#modal_faith_sanctification" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Following Jesus</div></div></div>
      </a>
      <a href="#modal_faith_assurance" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">The Local Church</div></div></div>
      </a>
      <a href="#modal_faith_church" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Baptism & The Lord’s Supper</div></div></div>
      </a>
      <a href="#modal_faith_marriage" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Spiritual Warfare</div></div></div>
      </a>
    </div>
    <div class="row">
      <a href="#modal_faith_life" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Christ’s Return</div></div></div>
      </a>
      <a href="#modal_faith_temple" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Engaging Culture</div></div></div>
      </a>
      <a href="#modal_faith_ordinances" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Protecting Children</div></div></div>
      </a>
      <a href="#modal_faith_satan" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3"><div class="white_box hoverable"><div class="content">Marriage & Celibacy</div></div></div>
      </a>
    </div>
    <div class="row">
      <a href="#modal_faith_eternal_state" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3 offset-l3"><div class="white_box hoverable"><div class="content">Sober Living</div></div></div>
      </a>
      <a href="#modal_faith_second_coming" class="statement_btn modal-trigger">
        <div class="col s6 m6 l3 "><div class="white_box hoverable"><div class="content">The Humility Of Believers</div></div></div>
      </a>
    </div>
  </div>
</div>
