<%= render partial: "modals/all" %>

<div class="container">
  <div class="section">
    <h3>Events</h3>
    <br>

    <% @contents.each do |content| %>
      <div class="row">
        <div class="col s12" data-event-id=<%= "#{content.id}" %> >
          <% if current_user && (current_user.staff || current_user.role?(:admin))%>
            <div class="event_controls tooltipped" data-position="left" data-delay="50" data-tooltip="Remove Event"><i class="material-icons close">close</i></div>
          <% end %>
          <%= image_tag content.image, class: "static_event", alt: content.title %>
          <div class="static_event_description">
            <%= content.description %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });

  $('.event_controls').on('click', function(){
    event_id = $(this).closest('.col.s12').data('event-id');

    $.ajax({
      type: 'PUT',
      url: '/events/' + event_id + '/deactivate_event'
    })
  })
</script>
