<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section">
    <div class="center-align"><%= image_tag("ministry_logos/childrens_ministry_logo.png", class: "ministry-logo") %></div>

    <h5>Serve In This Ministry:</h5>
    <br>

    <p>
      We have a variety of teams that make up our Children’s Ministry. All members
      of our Children’s Ministry Team are background checked and have shown
      themselves to be known by others in the ministry of CRCC. If you are interested
      in participating in any of the areas of our children’s ministry listed below,
      please contact Tanya Courkamp, our Children’s Ministry Pastor,
      <%= mail_to @childrens_pastor.email, @childrens_pastor.full_name, subject: "Serving in Children's Ministry" %>
      for more information about our children's ministry.
    </p>
    <br>

    <b>Classroom Teacher:</b>
    <p>
      Our classroom teachers are responsible for reading through the Children’s
      curriculum as it is assigned and being prepared to teach the lesson and its
      various components to their designated age group on Sunday mornings.
      Classroom teachers are devoted to sharing the love of Jesus with God’s children
      and providing safe classroom structure for kids to learn and grow. They also
      have frequent involvement with greeting and communicating with parents.
      Classroom teachers are expected to attend regularly schedule trainings and/or
      classroom specific meetings to better serve one another and families at CRCC.
    </p>
    <br>

    <b>Classroom Assistant:</b>
    <p>
      Our classroom assistants aid the classroom teacher in all elements of the
      children’s curriculum for a given Sunday morning service. This includes
      helping with lesson instruction, craft/activity demonstration, and support of
      classroom management. Classroom assistants are expected to attend regularly
      schedule trainings and/or classroom specific meetings to better serve one
      another and families at CRCC.
    </p>
    <br>

    <b>Timothy Team:</b>
    <p>
      Our “Timothy Team” (based off of 1 Timothy 4:12 ESV) is program designed to
      mentor Jr. and Sr. High School students in the area of Children’s Ministry.
      Serving on this team requires students to be flexible and willing to participate
      in any area of Children’s Ministry as an ongoing process of learning how to
      minister to children. Timothy Team members are required to attend regularly
      scheduled trainings and/or meetings with their respective classroom
      assignments. This team provides a rewarding opportunity of growth for our
      youth.
    </p>
    <br>

    <b>Nursery Shepherds</b>
    <p>
      Our nursery shepherds possess a unique gentleness and patience that overflows
      with a heart of love for God’s youngest (Birth – 18 months). This team focuses
      on excellence in safety and protection of newborns as well as an introduction to
      sensory learning with a variety of educational toys. Nursery shepherds are
      expected to attend regularly schedule trainings and/or classroom specific
      meetings to better serve one another and families at CRCC.
    </p>
    <br>

    <b>The V.I.P. Program (Very Important Parent)</b>
    <br>
    <p>
      Our V.I.P. program is designed to allow the parents of children in the ministry
      to experience the classroom setting. VIPs (Very Important Parents) are
      scheduled on a rotational basis, (and can request more frequent involvement),
      to assist in the classroom learning environment. Being a VIP provides parents
      the opportunity to partner with volunteers in the ministry in lesson teaching,
      craft/activity completion and most importantly sharing another perspective of
      God’s love to all children at CRCC. We encourage all parents to participate in
      the VIP program for a chance to experience how our Children’s Ministry is
      blessing their children.
    </p>
    <br>

  </div>
</div>
