<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section">
    <div class="center-align"><%= image_tag("ministry_logos/childrens_ministry_logo.png", size: "400x260", class: "brand-logo") %></div>

    <p>
      “Don’t you see that children are God’s best gift? The fruit of the womb his
      generous legacy? Like a warrior’s fistful of arrows are the children of a
      vigorous youth. Oh, how blessed are you parents, with your quivers full of
      children! Your enemies don’t stand a chance against you; you’ll sweep them
      right off your doorstep.” – Psalm 127:3-5 (MSG)
    </p><br>

    <b>What We Value</b>
    <br>
    <p>
      We believe that a strong Children’s Ministry is foundational to the legacy of
      Jesus’s church. At Castle Rock Community Church we believe in the importance
      of doing Children’s Ministry as a family. We encourage men and women to lead
      in this ministry as the LORD calls and equips them. All volunteers are
      interviewed, background checked, and thoroughly trained in fostering an
      environment where the love of Jesus pours into each of our age specific classrooms.
    </p>
    <br>

    <b>Curriculum</b>
    <br>
    <p>
      We utilize a curriculum called FaithQuest, which focuses heavily on the use of
      object lessons and hands on activity/exploration to teach children God’s Word.
      <!--For a sample Teacher’s Lesson from FaithQuest, please click here (will send a -->
      <!--sample lesson for this link).-->
      Please contact our Children's Pastor, <%= mail_to @childrens_pastor.email, @childrens_pastor.full_name, subject: "Children's Ministry" %>
      for more information about our children's ministry.
    </p>
    <br>

    <b>Class Rooms:</b>
    <br>
    <b><i>Nursery</i></b>
    <br>
    <b>(Birth – 18 months, Sundays from 9:50am – 11:30am)</b>
    <br>
    <p>
      Our nursery workers focus on providing a safe, clean, loving environment for
      God’s youngest learners to explore with their five senses. Sight, sound, taste,
      touch, and smell are elements that are utilized in our nursery to introduce
      children to the love and creativity of our God.
    </p>
    <br>

    <b><i>Toddlers/Preschool</i></b>
    <br>
    <b>(2yrs – 4rs, Sundays from 9:50am – 11:30am)</b>
    <br>
    <p>
      Our toddler/preschool classroom focuses on “big picture” concepts of Bible People
      and Places. Children in this classroom learn foundational stories from 	the Christian
      faith through hands-on activity. Repetition and sensory learning 	reinforce Bible
      stories and concepts for these early learners. Teachers in 	this 	classroom are
      trained to handle diverse personality and learning styles with 	shorter attention
      spans, and older children begin learning the process of setting an example for and
      helping younger children.
    </p>
    <br>

    <b><i>Early Elementary</i></b>
    <br>
    <b>(Kindergarten – 2nd Grade, Sundays from 9:50am – 11:30am)</b>
    <br>
    <p>
      Our early elementary classroom focuses on Scripture memorization and “big picture”
      concepts of a Biblical lifestyle. Children use repetition and sensory learning frequently
      in this class to connect with more advanced concepts of scripture. Music and song
      are a key element of this class to help with memory and recollection. Older children
      continue learning the process of setting an example for and helping younger children.
    </p>
    <br>

    <b><i>Upper Elementary</i></b>
    <br>
    <b>(3rd Grade – 5th Grade, Sundays from 10:30am – 11:30am)*</b>
    <br>
    <p>
      Our upper elementary classroom builds on scripture memorization and challenges students in
      the areas of scriptural interpretation, application, and action. Students use song, acting,
      sculpting, drawing, speaking and writing to encourage a personalized response to what
      they are learning. These students experience more direct mentoring roles with our younger
      classrooms per their teachers’ discretion and supervision.
    </p>
    <br>
    <p>
      *This class begins after our congregation time of praise and worship. We encourage these
      students to spend this time with their families in the congregation. They are then dismissed
      to their own classroom for instructional time.
    </p>
    <br>




  </div>
</div>
