<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section">
    <div class="center-align"><%= image_tag("ministry_logos/life_group_ministry_logo.png", class: "ministry-logo") %></div>

    <p>
      Life groups meet weekly in and around the Castle Rock area. These groups
      are where real life happens at CRCC. Some groups are demographic specific;
      others are topic specific. Childcare is provided for many of these groups. We
      encourage you to visit one this week.
    </p><br>

    <p>
      Current Groups Meeting:
      <br>
      <div class="indent">
        <b>Epstein Life Group</b>
        <br>
        Young Marrieds/Singles with/without children. Childcare is provided for this group.
        This group meets weekly on Monday evenings from 7:00pm – 8:30pm at the home of
        Pastor Josh and Autumn. Contact <%= mail_to @lead_pastor.email, @lead_pastor.full_name, subject: "Life Group" %>
        for more information, or to attend this week.
      </div>
    </p>
    <br>

  </div>
</div>
