<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section">
    <h3>Missions Ministry</h3>
    <br>

    <p>
      “Every time I think of you, I give thanks to my God. Whenever I pray, I make my
      requests for all of you with joy, for you have been my partners in spreading the
      Good News about Christ from the time you first heard it until now. And I am
      certain that God, who began the good work within you, will continue his work
      until it is finally finished on the day when Christ Jesus returns.” - Philippians 1:2-6 NLT
    </p><br>

    <p>
      <b>Local and Global Missions:</b>
      <br>
      CRCC desires to partner with local and international Christian organizations and
      Christ followers who desire to “make much of Jesus.” Accordingly we seek out those
      who share our same passion and vision for making disciples of Jesus Christ and
      prayerfully determine how the LORD leads us to support 	these individuals and organizations.
    </p>
    <br>

    <p>
      <b>What We Value:</b>
      <br>
      As a church we believe in tithing on the tithe that is brought into God’s house.
      We have committed to giving this tithe to the work and growth of God’s Kingdom outside
      of the direct ministry involvement of Castle Rock Community Church. We additionally
      promote personal and church-wide involvement on short-term and long-term mission
      trips designed to present the Gospel of Jesus Christ and to build into the community
      and daily life of people around the world.
    </p>
    <br>

    <p>
      <b>Current Partners:</b>
      <br>
      Castle Rock Community Church is in the process of partnering with individuals and
      organizations that promote the Gospel of Jesus Christ. We will update this list of
      current missionaries and partnerships as they become current. Interested in becoming
      a part of CRCC missions? Contact us here: <%= mail_to "info@visitcrcc.org", "info@visitcrcc.org", subject: "Mission Interest" %>
    </p>
    <br>

  </div>
</div>
