<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section">
    <div class="center-align"><%= image_tag("ministry_logos/missions_ministry_logo.png", class: "ministry-logo") %></div>

    <p>
      “But you will receive power when the Holy Spirit comes upon you. And you will
      be my witnesses, telling people about me everywhere—in Jerusalem,
      throughout Judea, in Samaria, and to the ends of the earth.” – Acts 1:8 NLT
    </p><br>

    <p>
      Members of our Missions Ministry at CRCC commit to prayerfully considering,
      for CRCC partnership and cooperative mission trips, other individuals and
      organizations who desire to Make Much Of Jesus. Team members collaborate
      on the planning and implementation of local and global mission trip structure
      and purpose. Team members work with all ages of volunteers who desire to
      spread the Gospel in acts of missional service.
    </p>
    <br>

  </div>
</div>
