<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section">
    <h3>Women's Ministry</h3>
    <br>

    <p>
      “She opens her hand to the poor and reaches out her hands to the needy. She is
      not afraid of snow for her household, for all her household are clothed in
      scarlet.” – Proverbs 31:20-21 ESV
    </p><br>

    <p>
      <b>When We Meet</b>
      <br>
      Join us every other week on Friday mornings from 9:30am-11am. We meet at
      varying locations around Castle Rock. Childcare is provided. Please contact
      <%= mail_to @womens_director.email, @womens_director.full_name, subject: "Women's Ministry" %>
      for more information.
    </p>
    <br>

    <p>
      <b>What We Value</b>
      <br>
      We desire for women to grow deeper in their relationship with Christ and one
      another in an environment that is safe, encouraging and accepting. We believe
      it is important for women to develop trusted friendships with other women to
      more fully experience the support, love and accountability that blossoms from
      this kind of fellowship.
    </p>
    <br>

  </div>
</div>
