<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section centered">
    <div class="center-align"><%= image_tag("ministry_logos/worship_arts_ministry_logo.png", size: "400x260", class: "brand-logo") %></div>

    <p>
      “Enter his gates with thanksgiving, and his courts with praise! Give thanks to
      him; bless his name!” – Psalm 100:4 ESV
    </p><br>

    <b>What We Value:</b>
    <br>
    <p>
      Worship is an attitude of the heart that chooses to make much of Jesus Christ
      in all things. Our Worship Arts ministry at Castle Rock Community Church desires
      to bring a spirit of excellence to our Savior in our expression of how great,
      how powerful, how wonderful God Almighty truly is.
    </p>
    <br>
    <p>
      A foundational aspect of this ministry is reverential thanks and adoration to
      Christ. So whether that be through song, artistic expression, reflection, prayer,
      you will find a unified heart to authentically call out to our Savior King.
      Please contact <%= mail_to @worship_pastor.email, @worship_pastor.full_name, subject: "Worship Arts Ministry" %> for more information.
    </p>
    <br>

    <b>Testimonies:</b>
    <br>
    <p>
      “Come and see what our God has done, what awesome miracles he performs for 	people!” – Psalm 66:5 NLT
    </p>
    <br>
    <p>
      “Come and listen, all you who fear God, and I will tell you what he did for me.” - Psalm 66:16 NLT
    </p>
    <br>
    <p>
      We value the importance of the church sharing with one another the stories of how
      we have each seen and experienced God working in our lives. These stories, called
      testimonies, are shared in many different settings, especially on Sunday mornings
      with the congregation.
    </p>
    <br>

  </div>
</div>
