<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section">
    <div class="center-align"><%= image_tag("ministry_logos/worship_arts_ministry_logo.png", class: "ministry-logo") %></div>

    <h5>Serve In This Ministry:</h5>
    <br>

    <p>
      We have a variety of teams that make up our Worship Arts Ministry. Take a
      look at a few of the opportunities to serve in the areas listed below, and contact
      us here <%= mail_to @lead_pastor.email, @lead_pastor.full_name, subject: "Serving in Worship Ministry" %>
      for more information about getting involved.
    </p>
    <br>

    <b>Prayer Team</b>
    <p>
      “Always be joyful. Never stop praying. Be thankful in all circumstances, for this
      is God’s will for you who belong to Christ Jesus.” – 1 Thessalonians 5:16-18 NLT
      Members of our prayer team pray, and pray often. They have a heart and
      posture of reverential thanks and humility as they bring CRCC and individual
      members before God’s throne. They are approachable by anyone in our
      congregation to pray with them or for other needs. They are available during
      and after our Sunday services and can be reached during the week as needs
      arise.
    </p>
    <br>

    <b>Praise Team</b>
    <p>
      “Make a joyful noise to the Lord, all the earth; break forth into joyous song and
      sing praises! Sing praises to the Lord with the lyre, with the lyre and the sound
      of melody! With trumpets and the sound of the horn make a joyful noise before
      the King, the Lord! – Psalm 98:4-6 ESV
    </p>
    <br>

    <i>
      <p>
        Members of our praise team use their musical and vocal abilities to lead our
        congregation in their praise of our God. These team members are devoted to
        preparation of their own hearts and talents to be used by God on Sunday
        mornings and other musical praise venues that are a part of CRCC. We believe
        that praising our Savior silences the voice of the enemy. We believe that praise
        to our God moves us from a position and posture of defeat and helplessness to a
        position of humility, dependence and renewed strength for a believer. We
        believe that our praise of Jesus Christ directly correlates with our ability to
        continue to persevere for His name’s sake in our culture.
      </p>
    </i>
    <br>

    <b>Audio/Visual Team</b>
    <p>
      “And whatever you do or say, do it as a representative of the Lord Jesus, giving
      thanks through him to God the Father.” – Colossians 3:17 NLT
    </p>
    <br>

    <i>
      <p>
        Members of our Audio/Visual Team use their gifts and talents to help make
        sure that the technology pieces of our Sunday morning worship services, and
        other ministry specific venue activities, are well supported and function with a
        fluidity that aids in the presentation of the Gospel of Jesus Christ. Team
        members participate with the Praise Team in areas of set-up, teardown, and
        ongoing quality adjustments to ensure a joyful noise can be made to our King.
        Audio/Visual Team members are available to support all other ministries of
        CRCC on a rotational basis as needed for the work of the Gospel.
      </p>
    </i>
    <br>

    <b>Creative Arts Team</b>
    <p>
      “Have you commanded the morning since your days began, and caused the
      dawn to know its place, that it might take hold of the skirts of the earth, and the
      wicked be shaken out of it? It is changed like clay under the seal, and its
      features stand out like a garment. From the wicked their light is withheld, and
      their uplifted arm is broken.” – Job 38:12-15 ESV
      Members of our Creative Arts Team understand that our God is a creator. He
      has been and always will be creating, especially as it pertains to the new life in
      every believer’s heart and soul. Team members use their talents as an outward
      expression of praise and adoration of our Savior Jesus. Our Creative Arts Team
      understands the importance of different ways to more intimately connect with
      God Almighty and so works together to allow members of CRCC, and those
      beyond our community, the opportunity to experience God through many other
      artistic modes.
    </p>
    <br>

  </div>
</div>
