<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section">
    <h3>Youth Ministry</h3>
    <br>

    <p>
      “Don’t let anyone think less of you because you are young. Be an example to all
      believers in what you say, in the way you live, in your love, your faith, and
      your purity.” -2 Timothy 4:12 (NLT)
    </p><br>

    <p>
      <b>When We Meet:</b>
      <br>
      Our youth group meets every week on Wednesday evenings from 6:30pm-8pm.
      We meet at varying locations around Castle Rock. Please contact
      <%= mail_to @youth_pastor.email, @youth_pastor.full_name, subject: "Youth Ministry" %>
      for more information.
    </p>
    <br>

    <p>
      <b>What We Value:</b>
      <br>
      We desire to train our youth to be strong leaders and Godly examples of
      Christ amongst their peers. We purposefully disciple our youth in intentional
      and practical ways to further develop their personal relationship with Jesus
      and to share their faith in their community. We design our youth 	meetings to
      be a safe, welcoming and challenging environment where 	friendships and mentoring
      can easily take place in order for our youth to flourish interpersonally and
      spiritually.
    </p>
    <br>

  </div>
</div>
