<%= render partial: "modals/all" %>

<div class="container life_groups_page">
  <div class="section">
    <div class="center-align"><%= image_tag("ministry_logos/youth_ministry_logo.png", class: "ministry-logo") %></div>

    <h5>Serve In This Ministry:</h5>
    <br>

    <p>
      Our youth ministry has opportunities for men and women to serve alongside
      our students in the roles of mentors and small group leaders. Members of our
      youth ministry team invest in building relationships with our students and their
      families to foster open communication as a platform for sharing real life
      experiences with the next generation of Christian leaders. All members of our
      Youth Ministry Team are background checked and have shown themselves to
      be known by others in the ministry of CRCC.
    </p>
    <br>

    <p>
      Small group leaders host groups of 3-6 students (we have separate guy groups
      and girl groups) in their homes and locations in the community to follow up
      and supplement what our Youth Ministry discusses during their weekly group
      meeting on Wednesdays. These leaders are resourced with discipleship material
      to discuss with their respective groups.
    </p>
    <br>

    <p>
      Mentors are involved primarily on Wednesday evenings during our Youth
      Group weekly meeting time and then follow up with 1 or 2 students in a
      particular mentor relationship during the week. These mentor relationships
      are a rewarding opportunity to pour into the life(lives) of these young disciples.
    </p>
    <br>

    <p>
      If you would like more information about our Youth Ministry and/or serving
      alongside those in this ministry, contact our Youth leaders here
      <%= mail_to 'info@visitcrcc.org', 'info@visitcrcc.org', subject: "Serving in Youth Ministry" %>
    </p>
    <br>

  </div>
</div>
