
<div id="modal_contact_us" class="modal modal-fixed-footer">
  <div class="modal-content">

    <div class="row">
      <div class="col s12">
        <h2>Contact Us</h2>
      </div>
    </div>

  </div>
</div>