
<div id="modal_contact_us" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <h2>Contact Us</h2>

        <%= form_for @inquiry = Inquiry.new, url: {action: "create"}, html: {class: ""} do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col s12">
        <a href="#" class="modal-action modal-close waves-effect btn-flat">Cancel</a>
      </div>
    </div>
  </div>
</div>