<div id="modal_learn_more" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>OUR MISSION</h4>
    <p>
      To intentionally invest in the lives of those in our community, pursuing them with the
      love and life of the Gospel, thereby teaching them and modeling to them, what it means to be a follower of Jesus.
      (Matthew 28:19, Mark 12:29-­‐31, Acts 1:8).
    </p><br>
    <h4>OUR VISION</h4>
    <p>
      To effectually communicate the Gospel of Jesus Christ in such a way that strengthens the
      foundational principle of being adopted into God’s family. We are deeply moved by the importance of
      prioritizing the traditional family unit as God created it, as well as integrating a biblical understanding
      of how all the varying roles and structures that comprise modern families will only be fruitful if submitted
      to Godly design alone.
    </p><br>
    <h4>OUR CORE VALUES </h4>
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header" style="background-color: #FF5D00; color: #F5F5F5"><i class="material-icons flip-able" style="color: #F5F5F5">group</i>Relationally Rich</div>
        <div class="collapsible-body">
          <ul class="collapsible" data-collapsible="expandable">
            <li class="swivel_down">
              <div class="collapsible-header"><i class="material-icons" style="color: #cccccc">keyboard_arrow_right</i>Shepherding God’s People</div>
              <div class="collapsible-body">
                <p>
                  We value over all other sources of information and thought, the authority of the Word of God.
                  We desire to have God speak into our lives through solid relevant Bible teaching and authentic Biblical
                  living that results in significant personal life change (Joshua 1:8; Psalm 1:2, 3; Colossians 1:28-­‐29).
                </p>
              </div>
            </li>
            <li class="swivel_down">
              <div class="collapsible-header"><i class="material-icons" style="color: #cccccc">keyboard_arrow_right</i>Living As God’s People</div>
              <div class="collapsible-body">
                <p>
                  We value all aspects of family and community. And because of that we desire to embrace and connect
                  in meaningful ways in relationship with one another. We believe that all Christ followers are believer
                  priests, and to that end, no one should become inactive in loving and serving others; rather we must
                  strive all the more so to remember often how the Lord has changed us, delivered us, and brought us to
                  new life and prosperity with Him (Deuteronomy 6, Joshua 24:15, Acts 2:42-­‐47; Hebrews 10:24, 25).
                </p>
              </div>
            </li>
            <li class="swivel_down">
              <div class="collapsible-header"><i class="material-icons" style="color: #cccccc">keyboard_arrow_right</i>Embracing Hardship</div>
              <div class="collapsible-body">
                <p>
                  We believe in the importance of embracing the trials and hardships of life because they have an innate,
                  situational ability to draw people deeper into the depths of God; we believe that perseverance in these
                  trials and hardships teaches us more intimately about the love and heart of our Savior, and allows the
                  Holy Spirit to effectively transform our thinking about life and faith (James 1:2-4, Romans 5).
                </p>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header" style="background-color: #FF5D00; color: #F5F5F5"><i class="material-icons flip-able" style="color: #F5F5F5">restaurant</i>Spiritually Hungry</div>
        <div class="collapsible-body">
          <ul class="collapsible" data-collapsible="expandable">
            <li class="swivel_down">
              <div class="collapsible-header"><i class="material-icons" style="color: #cccccc">keyboard_arrow_right</i>Jubilant And Satiated Fullness</div>
              <div class="collapsible-body">
                <p>
                  We value an intimate relationship with our Heavenly Father. Because of that, we are committed to both
                  corporate and individual worship, celebrating all that He is and all that He has done for us, is doing
                  for us, and will do for us. We recognize the essential need to praise Jesus for who He is, regardless
                  of our circumstances; that He alone came to give life and life abundantly. Through him, we receive
                  that blessing of life (John 4:23, 24; John 10:10, Colossians 1:9-12, 1 Thessalonians 5:17).
                </p>
              </div>
            </li>
            <li class="swivel_down">
              <div class="collapsible-header"><i class="material-icons" style="color: #cccccc">keyboard_arrow_right</i>Breaking Strongholds</div>
              <div class="collapsible-body">
                <p>
                  We believe in the necessary binding and loosing of that which so easily entangles the life of a follower
                  of Jesus; as such, we develop and mature as Christians by regularly exercising spiritual wisdom and
                  discernment in all things. We recognize that sin ensnares humanity, yet, with proper understanding of
                  the spiritual forces at work on our behalf, we are able to be free from perpetual confusion and bondage
                  (Hebrews 5, Psalm 111:10, 2 Corinthians 10:4-5).
                </p>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="swivel_down">
        <div class="collapsible-header" style="background-color: #FF5D00; color: #F5F5F5"><i class="material-icons flip-able" style="color: #F5F5F5">my_location</i>Mission Focused</div>
        <div class="collapsible-body">
          <ul class="collapsible" data-collapsible="expandable">
            <li class="swivel_down">
              <div class="collapsible-header"><i class="material-icons" style="color: #cccccc">keyboard_arrow_right</i>Intentional Evangelism</div>
              <div class="collapsible-body">
                <p>
                  We value as a high priority the sharing of the good news of Jesus Christ. We are called and
                  compelled as His church to share His gift of eternal life in a relevant, purposeful way with as
                  many people as possible within our immediate culture and beyond our local borders
                  (Matthew 28:18-­‐20, Acts 1:8).
                </p>
              </div>
            </li>
            <li class="swivel_down">
              <div class="collapsible-header"><i class="material-icons" style="color: #cccccc">keyboard_arrow_right</i>Furthering the Kingdom</div>
              <div class="collapsible-body">
                <p>
                  We value others around us deeply. Having Jesus Christ residing in us, we desire to serve others with
                  frequent acts of mercy and help in His name (Matthew 9:36-­‐38; 1 John 4:19-­‐21), that by doing so
                  we effectively exist as salt and light in our culture. We believe in the authority of God’s Word to
                  accomplish everything it is sent out to do, and consequently, we believe that we, as God’s saints,
                  have been given a divine authority to exercise the power of his Word for the advancement of the Gospel.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>