<div id="new_life_group" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">

      New Life Group
      <br>

    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect btn-flat ">Cancel</a>
  </div>
</div>