//Branding
$crcc-white: #F5F5F5;
$crcc-orange: #FF5D00;
$crcc-brown: #6B6054;
$crcc-grey: #8AB0AB;
$crcc-ltblue: #3E505B;
$crcc-black: #353535;

.crcc-white {
  background-color: $crcc-white;
}
.crcc-white-text {
  color: $crcc-white;
}
.crcc-orange {
  background-color: $crcc-orange;
}
.crcc-orange-text {
  color: $crcc-orange;
}
.crcc-brown {
  background-color: $crcc-brown;
}
.crcc-brown-text {
  color: $crcc-brown;
}
.crcc-grey {
  background-color: $crcc-grey;
}
.crcc-grey-text {
  color: $crcc-grey;
}
.crcc-ltblue {
  background-color: $crcc-ltblue;
}
.crcc-ltblue-text {
  color: $crcc-ltblue;
}
.crcc-black {
  background-color: $crcc-black;
}
.crcc-black-text {
  color: $crcc-black;
}