// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_controls {
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  padding: 2px 0 0 2px;
  background-size: 100%;
  background-color: #ccc;
  border: 1px solid #FEFEFE;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    background-color: #aaa;
  }
}

.static_event {
  display: inline-block;
  float: left;
  width: 30%;
  height: auto;
  background-size: 100%;
  margin-bottom: 20px;
  border: 4px solid #FEFEFE;
}

.static_event_description {
  display: inline-block;
  float: left;
  width: 30%;
  height: auto;
  margin-left: 40px;
}

.event5 {
  @include main_slider('june_community_event.jpg');
}
.event6 {
  @include main_slider('july_community_event.jpg');
}
.event4 {
  @include main_slider('womens_ministry.jpg');
}
.event1 {
  @include main_slider('sep_11_launch_sunday.jpg');
}
.event3 {
  @include main_slider('mens_ministry.jpg');
}
.event2 {
  @include main_slider('life_groups_mon_tues.png');
}