//Reset all css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


html {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: $crcc-white image-url('concrete_seamless.png') repeat;
  overflow: scroll;
}

.indent {
  padding-left: 20px;
}

.toast_container_success {
  background-color: $success-color !important;
}

.toast_container_error {
  background-color: $error-color !important;
}

.flip {
  -moz-transform: scaleX(-1) scaleY(-1);
  -webkit-transform: scaleX(-1) scaleY(-1);
  -o-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
}

.inline {
  display: inline;
}

.centered {
  text-align: center;
}

.lefted {
  float: left;
}

.righted {
  float: right;
}

footer.page-footer {
  position: relative;
  margin: 0;
  height: auto;
  bottom: 0;
}

a:hover {
  color: $crcc-black !important;
}

.whisper {
  font-size: .8em;
  font-style: italic;
  color: #AAAAAA;
}

.search_bar {
  width: 100%;
  height: 40px;
  background-color: $crcc-brown;
}

.vertical_aligned {
  vertical-align: middle;
}