//Reset all css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.flip {
  -moz-transform: scaleX(-1) scaleY(-1);
  -webkit-transform: scaleX(-1) scaleY(-1);
  -o-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
}

.inline {
  display: inline;
}

html {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: $crcc-white url(concrete_seamless.png) repeat;
  overflow: scroll;
}

footer.page-footer {
  position: relative;
  margin: 0;
  height: auto;
  bottom: 0;
}

a:hover {
  color: $crcc-black !important;
}

.service_time_strip {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  color: $crcc-black;
  background-color: transparent;
  .specifics {
    font-family: 'Kameron', Georgia, serif;
    color: $crcc-brown;
  }
}

.slider_box_wrapper {
  box-sizing: border-box;
  @media screen and (max-width: 600px){margin: -5px;}
  @media screen and (min-width: 601px){margin: 0;}
}

.aspect_wrapper {
  width: 100%;
  max-height: 400px;
  height: 10%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.aspect_wrapper:after {
  padding-top: 26.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.aspect_main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-height: 400px;
  /* fill parent */
  background-color: transparent;
  /* let's see it! */
  color: white;
}

.crcc_main_slider {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-shadow: 0 0 20px 1px #555;
  font-family: 'Cabin Sketch', cursive;
  font-size: 7vw;
  .slider_content {
    display: inline-block;
    width: 100%;
    max-height: 400px;
    height: 3.5em;
    overflow: auto;
    outline-width: 0;
    cursor: pointer;
  }
  .event1 {
    background: transparent url('may_worship.jpg') no-repeat;
    background-size: 100%;
  }
  .event2 {
    background: transparent url('may_community_event.jpg') no-repeat;
    background-size: 100%;
  }
  .event3 {
    background: transparent url('june_community_event.jpg') no-repeat;
    background-size: 100%;
  }
  .event4 {
    background: transparent url('july_community_event.jpg') no-repeat;
    background-size: 100%;
  }
  .slick-arrow {
    text-shadow: 0 0 2px #000;
  }
  .slick-prev {
    left: 10px;
    z-index: 3;
  }
  .slick-next {
   right: 10px;
   z-index: 3;
  }
  .slick-dots {
    height: 100px;
    @media screen and (max-width: 500px) {
      bottom: -110px;
    }
    @media screen and (min-width: 501px) and (max-width: 900px){
      bottom: -90px;
    }
    @media screen and (min-width: 901px) and (max-width: 1200px){
      bottom: -65px;
    }
    @media screen and (min-width: 1201px) and (max-width: 1850px){
      bottom: -25px;
    }
    @media screen and (min-width: 1851px){
      bottom: 0;
    }
  }
}

.static_event {
  width: 100%;
  height: auto;
  background-size: 100%;
  margin-bottom: 40px;
  border: 4px solid #FEFEFE
}

.dark_bg {
  color: $crcc-grey;
  background: transparent url('dark_geometric.png') repeat;
}
.light_bg {
  color: $crcc-black;
  background: transparent url('light_paper.png') repeat;
}

.hoverable {
  padding: 10px;
  cursor: pointer;
}

.statement_of_faith {
  position: relative;
  font-family: 'Sansita One', sans-serif;
  background: linear-gradient(160deg, rgba(246,143,26,.6), rgba(120,181,202,.6));
  z-index: 3;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent url('three-sides.png') repeat;
    opacity: .05;
    z-index: 2;
  }
  a {
    color: $crcc-black;
  }
}

.mission_statement {
  .title {
    color: $crcc-white;
    font-family: 'Sansita One', sans-serif;
  }
  h3 {
    @media screen and (max-width: 600px){text-align: center;}
    @media screen and (min-width: 600px){text-align: left;}
  }
  .social {
    position: relative;
    bottom: 25%;
    width: 50px;
    height: 50px;
    padding: 0 10px;
    opacity: .7;
    cursor: pointer;
    transition: .2s;
    &:hover {
      background-color: rgba(0,0,0,.5);
      transform: translate(0,-4px);
      transition: .3s;
    }
  }
  .social_square{
    @extend .social;
    border-radius: 2px;
  }
  .social_circle{
    @extend .social;
    border-radius: 25px;
  }
}

.white_box {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 10px 0;
  padding: 0 10px;
  background-color: rgba($crcc-white, .7);
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
  z-index: 3;
  transition: .25s;

  &:hover {
    transition: .25s;
    background-color: rgba($crcc-white, .9);
  }

  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    margin: auto;
    font-family: 'Roboto', cursive;
    font-size: 1.3em;
  }
}

.white_box.hoverable.more{
  @media screen and (max-width: 600px){  border-radius: 2px 2px 50px 2px !important; }
  @media screen and (min-width: 601px){  border-radius: 2px 2px 50px 50px !important; }
}

.material-tooltip {
  @media screen and (max-width: 300px){  max-width: 200px !important; }
  @media screen and (min-width: 301px){  max-width: 400px !important; }
}

.decoration_stripe {
  width: 100%;
  height: 10px;
  background-color: $crcc-brown;
}

#contact_us {
  padding-top: 80px;
  min-height: 300px;
}

.staff_page {
  min-height: 300px;
  color: $crcc-brown;
}

.brand-logo {
  @media screen and (max-width: 600px){
    margin-top: 3px;
  }
  @media screen and (min-width: 601px){
    margin-top: 5px;
  }
  padding: 5px 0;
}
#learn_more_button {
  position: relative;
  @media screen and (max-width: 600px) { bottom: 0; }
  @media screen and (min-width: 601px) and (max-width: 800px) { bottom: -50px; }
  @media screen and (min-width: 801px) { bottom: 50px; }
}

.hero-buffer {
  display: inline-block;
  @media screen and (max-width: 600px) { height: 100px; }
  @media screen and (min-width: 601px) and (max-width: 999px) { height: 30px; }
  @media screen and (min-width: 1000px) { height: 0; }
  vertical-align: middle;
  content: ''
}
