@mixin news_feed_height{
  height: 125px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  bottom: auto;
  color: $crcc-white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  .logo_icon {
    padding-left: 10px;
  }
  .logo_text {
    padding: 15px 0 10px 10px;
    list-style: none;
    @include font-roboto(20px, 100);
  }
  ul.nav_links {
    float: right;
    padding: 0 0 10px 10px;
    list-style: none;
    @include font-roboto(20px, 100);
    @import "hamburger_menu";
    li.nav {
      position: relative;
      display: none;
      padding: 5px 10px;
      text-align: right;
      background-color: rgba(1,1,1,.5);
      border-bottom: 1px solid rgba(1,1,1,.5);
      border-top: 1px solid rgba(255,255,255,.2);
      cursor: pointer;
      &:hover {
        color: #888;
      }
      &:last-child {
        border-bottom: none;
        border-radius: 0 0 0 4px;
      }
    }
    #nav_signout {
      color: $crcc-orange;
      &:before {
        content: "";
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

}

section {
  font-family: 'Lora', serif;
  font-size: 16px;
  .title {
    padding-bottom: 20px;
    font-family: 'Nixie One', serif;
    font-size: 30px;
  }
  .hero {
    min-height: 400px;
    padding: 20px;
  }
  .mission_statement {
    @include section-layout($crcc-blue, image-url('brickwall.png'));
  }
  .news_feed {
    position: relative;
    height: auto;
    padding: 10px;
    text-align: center;
    color: $crcc-white;
    background-image: url('darkdenim3.png');
    .news_row_top {
      margin: 0 auto;
      .top-left {
        display: block;
        width: 90%;
        @include news_feed_height;
        clear: both;
        margin: 0 auto 3px auto;
        color: $crcc-blue;
        background-color: $crcc-white;
        cursor: pointer;
      }
      .top-right {
        display: block;
        width: 90%;
        @include news_feed_height;
        clear: both;
        margin: 0 auto 3px auto;
        color: $crcc-blue;
        background-color: $crcc-ltblue;
        cursor: pointer;
      }
    }
    .news_row_bottom {
      margin-bottom: 30px;
      .bottom-left {
        display: block;
        width: 90%;
        @include news_feed_height;
        clear: both;
        margin: 0 auto 3px auto;
        color: $crcc-blue;
        background-color: $crcc-brown;
        cursor: pointer;
      }
      .news_slider {
        display: block;
        width: 90%;
        height: auto;
        clear: both;
        margin: 0 auto;
        color: $crcc-blue;
        background-color: $crcc-orange;
        .news_content {
          display: inline-block;
          width: inherit;
          @include news_feed_height;
          outline-width: 0;
          cursor: pointer;
        }
      }
      .slick-dots {
        top: 130px;
      }
    }
    .add_news_article {
      position: absolute;
      display: inline;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      margin: 10px;
      text-align: right;
      color: $crcc-white;
      border-radius: 50%;
      cursor: pointer;
      @include transition(.2s);
      img {
        width: 100%;
        height: auto;
        -webkit-filter: drop-shadow(-2px 2px 2px #000);
        filter: drop-shadow(-2px 2px 2px #000);
      }
      &:hover {
        @include transition(.2s);
        width: 55px;
        height: 55px;
        margin: 7px 7px 5px 5px;
      }
    }
  }
  .services {
    @include section-layout($crcc-blue, url('brickwall.png'));
    @media screen and (min-width: 850px) {
      .thumbnail {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 10px 1%;
        text-align: left;
        overflow: auto;
      }
    }
    @media screen and (max-width: 849px){
      .thumbnail {
        display: block;
        clear: both;
        vertical-align: top;
        width: 100%;
        margin: 10px 1%;
        text-align: left;
        overflow: auto;
      }
    }
    overflow: auto;
  }
  .about {
    @include section-layout($crcc-white, url('darkdenim3.png'));
    overflow: visible;
    .about_container {
      position: relative;
      display: block;
      height: 30%;
      white-space: nowrap;
      margin: 1px;
      padding-left: 10%;
      overflow: visible;
      @include box-sizing;
      z-index: 0;
      .about_img {
        position: relative;
        display: inline-block;
        min-width: 200px;
        width: 70%;
        max-width: 337px;
        height: auto;
        margin: 4px 0 20px 4px;
        float: left;
        border-radius: 10% 0 10% 10%;
        @include box-shadow(0, 0, 3px, 1px, rgba(0, 0, 0, .3));
        z-index: 1;
      }
      .about_stats {
        display: block;
        width: 50px;
        height: auto;
        margin: 4px 4px 4px 0;
        float: left;
        background-color: #555;
        ul {
          list-style: none;
          cursor: pointer;
          li {
            @include box-shadow(0, 0, 3px, 1px, rgba(0, 0, 0, .3));
            height: auto;
            padding: 10px 5px 6px 5px;
            background-color: #555;
            &:hover {
              transition: .15s;
              background-color: #333;
            }
            img.diploma {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      .about_general {
        display: block;
        clear: both;
        margin-top: 20px;
        width: 70%;
        height: 80%;
        min-width: 250px;
        padding: 2%;
        background-color: rgba(0, 0, 0, .3);
        @include box-shadow(1px, 1px, 3px, 1px, rgba(0, 0, 0, .2), inset);
        white-space: normal;
        overflow: auto;
        .heading {
          position: relative;
          width: 100%;
          padding-left: 5%;
          @include box-sizing;
          .image_container {
            position: relative;
            vertical-align: middle;
            width: 40px;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .heading_title {
            position: relative;
            vertical-align: middle;
            padding: 0 10%;
          }
        }
        .about_general_content {
          display: block;
          width: 100%;
          height: auto;
          padding: 2% 3% 2% 2%;
          float: left;
          text-align: left;
          @include box-sizing;
          overflow: auto;
        }
      }
      #doughnutChart {
        display: none;
      }
    }
  }
  .pricing {
    @include section-layout($crcc-blue, url('brickwall.png'));
    .thumbnail {
      display: block;
      clear: both;
      vertical-align: top;
      width: 100%;
      margin: 0 1% 30px 1%;
      text-align: left;
      overflow: auto;
      .heading {
        padding-bottom: 10px;
      }
    }
    overflow: auto;
  }
  .footer {
    display: table;
    width: 100%;
    height: auto;
    .disclaimers {
      display: table-cell;
      vertical-align: middle;
      padding: 5px 20px;
    }
    .social {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      padding: 5px 20px;
      .linked_in {
        display: block;
        width: auto;
        float: right;
        cursor: pointer;
        img:hover {
          @include transition(.5s);
          background-color: $crcc-ltblue;
        }
      }
    }
  }
}

.heading {
  img {
    display: table-cell;
    vertical-align: middle;
  }
  .heading_title {
    display: table-cell;
    padding: 0 50px 0 40px;
    vertical-align: middle;
    text-align: left;
  }
  display: table;
  width: 100%;
  height: 60px;
  padding-bottom: 20px;
  text-align: center;
  @include font-roboto(24px, 500);
}

#sign_in_form {
  position: absolute;
  top: 195px;
  right: 0;
  width: auto;
  height: 140px;
  margin: 5px;
  padding: 20px;
  //background: url('skyline_crop.jpg') no-repeat top left scroll;
  outline-width: 0;
  @include box-shadow(0, 0, 3px, 1px, rgba(0, 0, 0, .5));
  &:before {
    position: absolute;
    top: -6px;
    right: 25%;
    content: "";
    height: 0;
    margin: 0 0 0 -6px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 6px solid #EEEEEE;
    line-height: 0;
    z-index: 4;
  }
}
.news_content {
  padding: 5px;
  @include box-sizing;
}
.news_feed_title {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 1.2em;
  text-shadow: 0 0 3px rgba(0, 0, 0, .9);
  color: $crcc-white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .6);
  .delete_news_article {
    position: absolute;
    display: inline;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 10px;
    text-align: right;
    color: $crcc-white;
    border-radius: 50%;
    cursor: pointer;
    @include transition(.2s);
    img {
      width: 20px;
      height: auto;
      -webkit-filter: drop-shadow(-1px 1px 1px #000);
      filter: drop-shadow(-1px 1px 1px #000);
    }
  }
}
.news_feed_body {
  width: 100%;
  height: -webkit-calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: calc(100% - 60px);
  padding: 10px 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.new_article {
  display: inline-block;
  width: 70%;
  height: 400px;
  margin-bottom: 35px;
  padding: 50px;
  text-align: center;
  color: $crcc-blue;
  background-color: $crcc-white;
  @include box-sizing;
  .wrapper {
    width: 50%;
    height: auto;
    margin: 0 auto;
    input, textarea {
      width: 100%;
    }
    .inline-wrapper {
      overflow: hidden;
      white-space: nowrap;
      label {
        display: inline-block;
        width: 19%;
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 1.2vw;
        max-font-size: 12px;
      }
      #news_article_position {
        display: inline-block;
        width: 79%;
        float: right;
      }
    }
  }
}

.tilt_45 {
  @include transition(.2s);
  @include rotate_it(45deg);
}