//Reset all css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: $crcc-white url(concrete_seamless.png) repeat;
  overflow: scroll;
}

.box_wrapper {
  box-sizing: border-box;
  margin: 20px;
}

.crcc_main_slider {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  box-shadow: 0 0 20px 1px #555;
  font-family: 'Cabin Sketch', cursive;
  font-size: 7vw;
  .slider_content {
    display: inline-block;
    width: inherit;
    height: 400px;
    outline-width: 0;
    cursor: pointer;
  }
  .slick-arrow {
    text-shadow: 0 0 2px #000;
  }
  .slick-prev {
    left: 10px;
    z-index: 3;
  }
  .slick-next {
   right: 10px;
   z-index: 3;
  }
  .slick-dots {
    height: 100px;
    @media screen and (max-width: 500px) {
      bottom: -110px;
    }
    @media screen and (min-width: 501px) and (max-width: 900px){
      bottom: -90px;
    }
    @media screen and (min-width: 901px) and (max-width: 1200px){
      bottom: -65px;
    }
    @media screen and (min-width: 1201px) and (max-width: 1850px){
      bottom: -25px;
    }
    @media screen and (min-width: 1851px){
      bottom: 0;
    }
  }
}

.dark_bg {
  color: $crcc-grey;
  background: transparent url('dark_geometric.png') repeat;
}
.light_bg {
  color: $crcc-black;
  background: transparent url('light_paper.png') repeat;
}